In [40]:
import pandas as pd
import json

In [219]:
pd.set_option("display.max_columns", None)

# JustWatch 정보 확인

In [ ]:
jw_df = pd.read_csv('/Users/jeonggyu/Desktop/수집한 dataset/jw_ott.csv')

In [111]:
jw_df.columns

Index(['Unnamed: 0', 'title', 'original_title', 'category', 'country', 'genre',
       'director', 'actors', 'released_year', 'runtime', 'summary', 'rating',
       'ott.Netflix', 'ott.Naver Store', 'ott.Watcha', 'ott.wavve',
       'ott.Google Play Movies', 'ott.Amazon Prime Video', 'ott.BroadwayHD',
       'ott.Mubi', 'ott.', 'ott.Plex', 'ott.DocAlliance Films',
       'ott.WOW Presents Plus', 'ott.Crunchyroll', 'ott.DOCSVILLE',
       'ott.GuideDoc', 'ott.Filmzie', 'ott.True Story', 'ott.Hoichoi',
       'ott.Spamflix', 'ott.Dekkoo', 'ott.Curiosity Stream'],
      dtype='object')

# Justwatch 데이터 전처리

In [459]:
# 이건 어떻게 처리할까
len(jw_df[jw_df['director'] == '[]'])

3267

In [460]:
# runtime없는 것은 어떻게? summary없는 것은 어떻게?
jw_df.isnull().sum()

Unnamed: 0                    0
title                         0
original_title                0
category                      0
country                       0
genre                         0
director                      0
actors                        0
released_year                 0
runtime                      24
summary                      61
rating                        0
ott.Netflix               12740
ott.Naver Store            7893
ott.Watcha                10635
ott.wavve                  5040
ott.Google Play Movies    11053
ott.Amazon Prime Video    17634
ott.BroadwayHD            17746
ott.Mubi                  17742
ott.                      17752
ott.Plex                  17692
ott.DocAlliance Films     17758
ott.WOW Presents Plus     17761
ott.Crunchyroll           17752
ott.DOCSVILLE             17763
ott.GuideDoc              17756
ott.Filmzie               17759
ott.True Story            17762
ott.Hoichoi               17763
ott.Spamflix              17762
ott.Dekkoo                17763
ott.Curiosity Stream      17763
dtype: int64

In [482]:
# ott서비스 필요한 것만 가져옴 (넷플릭스, 티빙, 웨이브, 왓챠, 쿠팡플레이)
need_ott = set(filter(lambda x: x.startswith('ott'), jw_df.columns)) - {'ott.Netflix', 'ott.Watcha', 'ott.wavve'}
jw_df = jw_df.drop(columns=need_ott)

In [483]:
len(jw_df[jw_df.duplicated()])

0

# tving 전처리

In [498]:
tving_df = pd.read_csv('/Users/jeonggyu/Desktop/수집한 dataset/tving_ott.csv')

In [499]:
tving_df.columns

Index(['Unnamed: 0', 'title', 'original_title', 'category', 'country', 'genre',
       'director', 'actors', 'released_year', 'runtime', 'summary', 'rating',
       'ott.tving'],
      dtype='object')

In [500]:
print(len(tving_df['title'].unique()))
print(len(tving_df))

5694
5852

In [501]:
tving_df.isnull().sum()

Unnamed: 0           0
title                0
original_title    2392
category             0
country              0
genre                0
director             0
actors               0
released_year        0
runtime              0
summary              3
rating               0
ott.tving            0
dtype: int64

In [503]:
len(tving_df[tving_df.duplicated()])

31

In [504]:
tving_df = tving_df.drop_duplicates()

In [505]:
len(tving_df[tving_df.duplicated()])

0

In [506]:
tving_df.isnull().sum()

Unnamed: 0       0
title            0
category         0
country          0
genre            0
director         0
actors           0
released_year    0
runtime          0
summary          3
rating           0
ott.tving        0
dtype: int64

In [563]:
len(tving_df[tving_df.duplicated(['title', 'category', 'director'])])

68

In [564]:
tving_df = tving_df.drop_duplicates(['title', 'category', 'director'])

In [579]:
len(tving_df)

5753

# Coupang 전처리

In [507]:
coupang_df = pd.read_csv('/Users/jeonggyu/Desktop/수집한 dataset/coupang_ott.csv')

In [508]:
coupang_df.columns

Index(['Unnamed: 0', 'id', 'title', 'director', 'actors', 'summary', 'country',
       'category', 'genre', 'runtime', 'rating', 'is_netflix', 'is_tving',
       'is_wavve', 'is_watcha', 'is_coopang', 'ott.coupang'],
      dtype='object')

In [509]:
print(len(coupang_df['title'].unique()))
print(len(coupang_df))

1791
1791

In [510]:
coupang_df.isnull().sum()

Unnamed: 0     0
id             0
title          0
director       0
actors         0
summary        0
country        0
category       0
genre          0
runtime        0
rating         0
is_netflix     0
is_tving       0
is_wavve       0
is_watcha      0
is_coopang     0
ott.coupang    0
dtype: int64

In [511]:
coupang_df = coupang_df.drop(columns=['id','is_netflix', 'is_tving', 'is_wavve', 'is_watcha', 'is_coopang'])

In [512]:
len(coupang_df[coupang_df.duplicated()])

0

In [528]:
len(coupang_df)

1791

In [574]:
len(coupang_df[coupang_df.duplicated(['title', 'category', 'director'])])

0

# tving + coupang

In [653]:
tv_cou_df = pd.concat([tving_df, coupang_df], ignore_index=True)

In [654]:
print(len(tv_cou_df))
tv_cou_df.head(5)

7544

,Unnamed: 0,title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.tving,ott.coupang
0,0,갯마을 차차차,TV 프로그램,[],"['드라마', '로맨스']",['유제원'],"['신민아', '김선호', '이상이', '김영옥', '조한철', '공민정', '인교...",2021.0,0,현실주의 치과의사 윤혜진과 만능 백수 홍반장이 짠내 사람내음 가득한 바닷마을 ‘공진...,0.0,['정액제'],NaN
1,0,유미의 세포들,TV 프로그램,[],"['드라마', '로맨스']",['이상엽'],"['김고은', '안보현', '이유비', '박지현']",2021.0,0,세포들과 함께 먹고 사랑하고 성장하는 평범한 유미(김고은 분)의 이야기를 그린 세포...,0.0,['정액제'],NaN
2,0,환승연애,TV 프로그램,[],"['예능', '관찰리얼리티']","['이진주', '최미래', '이희선', '김슬기', '곽정은', '이승환', '신혜...","['사이먼도미닉', '이용진', '김예원', '유라']",2021.0,0,다양한 이유로 이별한 커플들이 모여 \r\n지나간 사랑을 되짚고 \r\n새로운 사랑...,0.0,['정액제'],NaN
3,0,놀라운 토요일,TV 프로그램,[],"['예능', '음악예능']","['이태경', '진보미', '강은비', '강유민', '김윤아', '임다영']","['신동엽', '김동현', '문세윤', '박나래', '넉살', '태연', '한해',...",2018.0,0,‘좋아요’ 폭발하는 SNS 핵 공감 핫 플레이스부터 오랜 전통이 살아 숨 쉬는 노포...,0.0,['정액제'],NaN
4,0,Show Me The Money 10,TV 프로그램,[],"['예능', '음악예능']",[],[],2021.0,0,Mnet <Show Me The Money 10>\r\n2021 COMING SOON,0.0,['정액제'],NaN

In [655]:
len(tv_cou_df[tv_cou_df.duplicated(['title', 'category', 'director'])])

362

## tving, coupang 중복 데이터 제거

In [656]:
dup_index = tv_cou_df[tv_cou_df.duplicated(['title', 'category', 'director'], keep=False)].index

In [657]:
tv_cou_df[tv_cou_df['title'] == '걸캅스']

,Unnamed: 0,title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.tving,ott.coupang
2318,0,걸캅스,영화,[],"['코미디', '']",['정다원'],"['라미란', '이성경', '윤상현', '최수영']",2018.0,0,′민원실 퇴출 0순위 전직 전설의 형사 ′미영′과 민원실로 밀려난 현직 꼴통 형사 ...,6.0,['구매'],NaN
7510,0,걸캅스,영화,[],"['코미디', '액션', '범죄']",['정다원'],"['라미란', '이성경']",NaN,107,민원실 퇴출 0순위 전직 전설의 형사 미영과 민원실로 밀려난 현직 꼴통 형사 지혜....,0.0,NaN,['정액제']

In [659]:
for idx in dup_index:
    if idx < 5753:
        # tving_index
        coupang_idx = search_dup_data_in_coupang(tv_cou_df.loc[idx]['title'], tv_cou_df)
        if coupang_idx is None:
            continue
        cur_data = tv_cou_df.loc[idx]
        for i in ['runtime', 'genre', 'actors', 'ott.coupang']:
            if len(str(cur_data[i])) <= len(str(tv_cou_df.loc[coupang_idx][i])):
                cur_data[i] = tv_cou_df.loc[coupang_idx][i]
        tv_cou_df = tv_cou_df.drop(coupang_idx)
        tv_cou_df.loc[idx] = cur_data

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [658]:
def search_dup_data_in_coupang(title, df):
    for idx in dup_index:
        if idx < 5753:
            continue
        # coupang_index
        try:
            com_title = df.loc[idx]['title']
        except:
            continue
        if df.loc[idx]['title'] == title:
            return idx

In [660]:
tv_cou_df[tv_cou_df['title'] == '걸캅스']

,Unnamed: 0,title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.tving,ott.coupang
2318,0,걸캅스,영화,[],"['코미디', '액션', '범죄']",['정다원'],"['라미란', '이성경', '윤상현', '최수영']",2018.0,107,′민원실 퇴출 0순위 전직 전설의 형사 ′미영′과 민원실로 밀려난 현직 꼴통 형사 ...,6.0,['구매'],['정액제']

In [661]:
len(tv_cou_df[tv_cou_df.duplicated(['title', 'category', 'director'])])

0

In [662]:
len(tv_cou_df)

7182

# JustWatch + Tving Data + Coupang

In [679]:
total_data = pd.concat([jw_df, tv_cou_df], ignore_index=True)

In [680]:
len(total_data)

24946

In [681]:
total_data.head(2)

,Unnamed: 0,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
0,0,홈랜드,Homeland,TV 프로그램,['미국'],"['전쟁', '드라마', '액션', '범죄', '스릴러']",[],"['Claire Danes', 'Maury Sterling', 'Numan Acar...",2011.0,52.0,미 해병대 보병 부사관인 니콜라스 브로디 하사는 이라크 자유작전(이라크 전쟁) 중 ...,7.9,['정액제'],NaN,NaN,NaN,NaN
1,0,중경삼림,重慶森林,영화,['홍콩'],"['로맨스', '드라마', '코미디', '범죄']",['Wong Kar-wai'],"['Brigitte Lin', 'Tony Leung Chiu-wai', 'Faye ...",1994.0,103.0,"경찰 223은 헤어진 옛 애인을 기다리며, 1달 동안 그녀에게서 연락이 오지 않으면...",8.1,NaN,['정액제'],NaN,NaN,NaN

In [682]:
len(total_data[total_data.duplicated()])

0

In [683]:
total_data = total_data.drop(columns=['Unnamed: 0'])

# 중복 데이터 제거 ((Tving+Coupang)과 justwatch 겹치는 목록)

In [684]:
# 중복되는 인덱스의 배열
dup_index = total_data[total_data.duplicated(['title', 'category', 'released_year'], keep=False)].index
print(dup_index)

Int64Index([    3,     4,     5,     8,    10,    11,    12,    18,    19,
               24,
            ...
            23503, 23504, 23506, 23509, 23511, 23512, 23513, 23514, 23515,
            23516],
           dtype='int64', length=4234)

In [685]:
total_data[total_data['title']=='괴물']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
2923,괴물,괴물,영화,['대한민국'],"['공포', '애니메이션', '액션', '드라마', 'SF']",['Bong Joon-ho'],"['Song Kang-ho', 'Byun Hee-bong', 'Park Hae-il...",2006.0,120.0,"아버지가 운영하는 한강매점, 늘어지게 낮잠 자던 강두는 우연히 특이한 광경을 목격하...",7.0,['정액제'],['정액제'],"['대여', '구매']",NaN,NaN
17376,괴물,괴물,TV 프로그램,['대한민국'],"['드라마', '범죄', '스릴러']",['Sim Na-yeon'],"['Shin Ha-kyun', 'Yeo Jin-goo', 'Choi Dae-hoon...",2021.0,66.0,연쇄살인마를 잡기 위해 법과 원칙을 부숴버린 두 남자의 이야기. 또라이 경사 앞에 ...,8.2,['정액제'],NaN,NaN,NaN,NaN
18424,괴물,NaN,TV 프로그램,[],"['드라마', '공포/오컬트']","['심나연감독', '박성은EP']","['신하균', '여진구', '최대훈', '최성은']",2021.0,0.0,‘괴물은 누구인가. 너인가. 나인가. 우리인가.’ 만양에서 펼쳐지는 괴물 같은 두 ...,0.0,NaN,NaN,NaN,['정액제'],NaN
21966,괴물,NaN,영화,[],"[' 드라마', '패밀리', '액션', 'SF']",['봉준호'],"[' 송강호', ' 변희봉', '박해일', '배두나', '고아성']",2006.0,119.0,"햇살 가득한 평화로운 한강 둔치 아버지가 운영하는 한강 매점, 늘어지게 낮잠 자던 ...",9.0,NaN,NaN,NaN,['구매'],['정액제']

In [686]:
len(total_data)

24946

In [687]:
for idx in dup_index:
    if idx < 17764:
        # justwatch data
        tving_idx = search_dup_data_in_tving(total_data.loc[idx]['title'])
        if tving_idx is None:
            print("error")
            continue
        cur_data = total_data.loc[idx]
        for i in ['director', 'actors', 'ott.tving', 'ott.coupang']:
            cur_data[i] = total_data.loc[tving_idx][i]
        total_data = total_data.drop(tving_idx)
        total_data.loc[idx] = cur_data

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

error
error
error
error
error
error
error
error
error

In [648]:
def search_dup_data_in_tving(title):
    for idx in dup_index:
        if idx < 17764:
            continue
        try:
            com_title = total_data.loc[idx]['title']
        except:
            continue
        if total_data.loc[idx]['title'] == title:
            return idx

In [650]:
len(total_data)

22839

In [713]:
total_data[total_data['title']=='아수라']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
5472,아수라,アシュラ,영화,['일본'],"['공포', '애니메이션', '액션', '드라마', '역사']",['Keiichi Sato'],"['Masako Nozawa', 'Hiroaki Hirata', 'Kinya Kit...",2012.0,76.0,“태어나지 않는 편이 좋았을 텐데…” 15세기 중기(무로마치 시대)의 교토는 그야...,6.8,NaN,NaN,"['정액제', '대여']",NaN,NaN
8590,아수라,아수라,영화,['대한민국'],"['범죄', '액션', '드라마', '스릴러']",['김성수'],"['정우성', '황정민', '주지훈', '곽도원']",2016.0,136.0,강력계 형사 한도경은 이권과 성공을 위해 각종 범죄를 저지르는 악덕시장 박성배의 뒷...,6.7,['정액제'],NaN,"['대여', '구매']",['구매'],['정액제']
22414,아수라,NaN,영화,[],"['공포(호러)', '']",['사토 케이이치'],"['노자와 마사코', '하야시바라 메구미']",2013.0,0.0,“태어나지 않는 편이 좋았을 텐데...”\r\n15세기 중기(무로마치 시대)의 교토...,9.0,NaN,NaN,NaN,['구매'],NaN

# 중복 데이터 제거 2 (노가다)

In [1021]:
from collections import defaultdict
title_category = defaultdict(list)
for i in total_data[total_data.duplicated(['title', 'category'], keep=False)].index:
    cur = total_data.loc[i]
    title_category[(cur['title'], cur['category'])].append(i)

In [1022]:
title_category

defaultdict(list,
            {('고스트 버스터즈', '영화'): [73, 8645],
             ('좋은 친구들', '영화'): [75, 6929],
             ('비트', '영화'): [88, 14146],
             ('미이라', '영화'): [101, 10033],
             ('토탈 리콜', '영화'): [125, 5199],
             ('사탄의 인형', '영화'): [142, 13631],
             ('용서받지 못한 자', '영화'): [144, 2671],
             ('로미오와 줄리엣', '영화'): [163, 581, 6999],
             ('베스트 키드', '영화'): [173, 4270],
             ('나쁜 녀석들', '영화'): [174, 6722],
             ('아웃사이더', '영화'): [182, 11951],
             ('도망자', '영화'): [183, 1442],
             ('이블 데드', '영화'): [212, 5772],
             ('로보캅', '영화'): [213, 6661],
             ('졸업', '영화'): [219, 14747],
             ('작은 아씨들', '영화'): [235, 13530],
             ('아나스타샤', '영화'): [254, 1251],
             ('차이나타운', '영화'): [258, 7484],
             ('공포의 묘지', '영화'): [261, 13601],
             ('보디가드', '영화'): [279, 4857],
             ('로마의 휴일', '영화'): [305, 10679],
             ('인랑', '영화'): [312, 11732],
             ('인페르노', '영화'): [320, 8638],
             ('솔라리스', '영화'): [339, 2142],
             ('레전드', '영화'): [348, 7488],
             ('표적', '영화'): [350, 7147],
             ('홀로코스트', '영화'): [358, 6107],
             ('옥수수 밭의 아이들', '영화'): [359, 4837],
             ('대역전', '영화'): [361, 9156],
             ('벤허', '영화'): [370, 854, 8799],
             ('뮬란', '영화'): [377, 15406],
             ('엠마', '영화'): [406, 15413],
             ('닥터 두리틀', '영화'): [420, 15410],
             ('순수의 시대', '영화'): [422, 7820],
             ('모탈 컴뱃', '영화'): [437, 16991],
             ('애니', '영화'): [443, 6636],
             ('캐논볼', '영화'): [452, 17253],
             ('게임의 규칙', '영화'): [453, 10881],
             ('링', '영화'): [460, 6333],
             ('하울링', '영화'): [468, 5219],
             ('위대한 유산', '영화'): [484, 582, 2375, 5857],
             ('리포 맨', '영화'): [514, 4301],
             ('고질라', '영화'): [523, 6562],
             ('헛소동', '영화'): [527, 5290],
             ('데스 위시', '영화'): [531, 11693],
             ('적과의 동침', '영화'): [571, 4982, 17045],
             ('은밀한 유혹', '영화'): [583, 8071],
             ('자칼', '영화'): [610, 10444],
             ('천녀유혼', '영화'): [619, 4909],
             ('분홍신', '영화'): [631, 2801],
             ('히든', '영화'): [683, 2733],
             ('스트리트 파이터', '영화'): [688, 1515],
             ('헨리 5세', '영화'): [702, 1135],
             ('젊은이의 양지', '영화'): [714, 15438],
             ('택시', '영화'): [717, 7756],
             ('온리 유', '영화'): [723, 8228],
             ('연인', '영화'): [737, 2521],
             ('안나 카레니나', '영화'): [749, 1414, 5171],
             ('최후의 카운트다운', '영화'): [750, 786],
             ('공공의 적', '영화'): [778, 2199],
             ('디바', '영화'): [812, 15407],
             ('흑사회', '영화'): [825, 2675],
             ('그날이 오면', '영화'): [840, 12248],
             ('길', '영화'): [851, 10402],
             ('열혈남아', '영화'): [855, 3014],
             ('리벤지', '영화'): [893, 11701, 20739],
             ('피터 팬', '영화'): [900, 2321],
             ('소나기', '영화'): [918, 10379],
             ('영원한 사랑', '영화'): [919, 1568],
             ('로망스', '영화'): [923, 3147],
             ('레 미제라블', '영화'): [933, 13649, 20497],
             ('언더그라운드', '영화'): [950, 4932],
             ('백야', '영화'): [951, 5430],
             ('제인 에어', '영화'): [962, 4687],
             ('헤드헌터', '영화'): [1065, 13898],
             ('트롤', '영화'): [1069, 8655],
             ('겟어웨이', '영화'): [1076, 5966],
             ('피크닉', '영화'): [1163, 1584],
             ('러브', '영화'): [1169, 7530],
             ('쉘 위 댄스', '영화'): [1200, 2551],
             ('집으로 가는 길', '영화'): [1229, 5843],
             ('소공녀', '영화'): [1257, 11671, 24386],
             ('모모', '영화'): [1290, 4124, 9210],
             ('빈센트', '영화'): [1314, 7070, 10673],
             ('어느 하녀의 일기', '영화'): [1339, 8019],
             ('비밀', '영화'): [1379, 7950],
             ('소림오조', '영화'): [1392, 1599],
             ('흑권', '영화'): [1405, 3144],
             ('백발마녀전', '영화'): [1440, 15840],
             ('쏘아올린 불꽃, 밑에서 볼까? 옆에서 볼까?', '영화'): [1577, 10381],
             ('기문둔갑', '영화'): [1667, 10583, 15851],
             ('암전', '영화'): [1702, 14285],
             ('장마', '영화'): [1725, 16035],
             ('황진이', '영화'): [1791, 3322],
             ('배니싱 트윈', '영화'): [1826, 9108],
             ('오만과 편견', 'TV 프로그램'): [1852, 7395],
             ('신조협려', 'TV 프로그램'): [1868, 3025],
             ('스타트업', 'TV 프로그램'): [1991, 16350],
             ('소름', '영화'): [1998, 6608],
             ('루시아', '영화'): [2007, 11014],
             ('선물', '영화'): [2046, 14170],
             ('하루', '영화'): [2064, 7239, 10500],
             ('아들', '영화'): [2150, 3435],
             ('챔피언', '영화'): [2206, 12007, 20050, 21324],
             ('예스터데이', '영화'): [2238, 13559],
             ('빅 피쉬', '영화'): [2287, 10465],
             ('몬스터', '영화'): [2300, 6302, 11879, 22172],
             ('엘프', '영화'): [2332, 14229],
             ('허니', '영화'): [2357, 12768],
             ('더 로드', '영화'): [2362, 3882],
             ('보디가드', 'TV 프로그램'): [2450, 13024],
             ('터미널', '영화'): [2459, 7923],
             ('헬보이', '영화'): [2501, 13638],
             ('그루지', '영화'): [2513, 15542],
             ('피닉스', '영화'): [2545, 6556],
             ('세레니티', '영화'): [2703, 13709],
             ('저스트 프렌드', '영화'): [2728, 12137],
             ('케이브', '영화'): [2741, 9014],
             ('숨바꼭질', '영화'): [2751, 5961, 12182],
             ('두 여자', '영화'): [2868, 4521, 13789],
             ('꽃보다 남자', 'TV 프로그램'): [2900, 4161],
             ('데자뷰', '영화'): [2959, 12790],
             ('데스노트', '영화'): [2960, 10191],
             ('일루셔니스트', '영화'): [2972, 16171],
             ('몬스터 하우스', '영화'): [2974, 10484],
             ('싸움의 기술', '영화'): [2979, 14669],
             ('포세이돈', '영화'): [2995, 7052],
             ('귀향', '영화'): [2999, 9317],
             ('심야식당', 'TV 프로그램'): [3135, 4173],
             ('내일의 기억', '영화'): [3154, 16949],
             ('슈퍼배드', '영화'): [3241, 4230],
             ('히트맨', '영화'): [3277, 15691],
             ('킹덤', '영화'): [3308, 14098],
             ('퍼펙트 스트레인저', '영화'): [3355, 8780],
             ('더 시크릿', '영화'): [3384, 15598],
             ('리턴', '영화'): [3391, 11163],
             ('학교 가는 길', '영화'): [3403, 6740],
             ('상어', '영화'): [3474, 14577],
             ('아름다운 그대에게', 'TV 프로그램'): [3510, 5714],
             ('잃어버린 세계를 찾아서', '영화'): [3582, 13669],
             ('커넥트', '영화'): [3721, 15473],
             ('플라이 미 투 더 문', '영화'): [3734, 5350],
             ('연인들', '영화'): [3759, 10417],
             ('분노의 질주: 언리미티드', '영화'): [3768, 4641],
             ('아기와 나', '영화'): [3792, 11098],
             ('절대 그이', 'TV 프로그램'): [3851, 14892],
             ('마더', '영화'): [3870, 15437],
             ('트라이앵글', '영화'): [3886, 4100],
             ('시리어스 맨', '영화'): [3898, 15959],
             ('시크릿', '영화'): [4071, 6137, 22162],
             ('오디션', '영화'): [4096, 6677],
             ('만추', '영화'): [4215, 21581],
             ('더 브레이브', '영화'): [4224, 14323],
             ('파이터', '영화'): [4250, 17332],
             ('몬스터즈', '영화'): [4282, 7156],
             ('대지진', '영화'): [4403, 9154],
             ('무법자', '영화'): [4470, 8225],
             ('용의자', '영화'): [4480, 6066],
             ('저스티스', '영화'): [4624, 10830],
             ('한나', '영화'): [4672, 10048],
             ('이민자', '영화'): [4677, 5928],
             ('더 콜러', '영화'): [4825, 23220, 23221],
             ('크롤', '영화'): [4872, 13644],
             ('손님', '영화'): [4875, 8041],
             ('블라인드', '영화'): [4880, 14155, 22008],
             ('럭키', '영화'): [4991, 8946],
             ('마마', '영화'): [5003, 5833],
             ('슈츠', 'TV 프로그램'): [5047, 12991],
             ('비스트', '영화'): [5218, 13845, 23113],
             ('브레이크', '영화'): [5385, 12324, 13998],
             ('아수라', '영화'): [5472, 8590],
             ('핑크', '영화'): [5580, 8942],
             ('옆자리 괴물군', 'TV 프로그램'): [5681, 5690],
             ('스토커', '영화'): [5753, 15689],
             ('사이코메트리', '영화'): [6022, 9389],
             ('헌트', '영화'): [6053, 15424],
             ('기적의 피아노', '영화'): [6127, 8276],
             ('언노운 어택', '영화'): [6153, 12724],
             ('스파이', '영화'): [6250, 7529],
             ('드래곤 기사단', '영화'): [6287, 10831],
             ('룸메이트', '영화'): [6362, 7646],
             ('최고의 이혼', 'TV 프로그램'): [6379, 13104],
             ('나를 찾아줘', '영화'): [6522, 13822],
             ('더 게스트', '영화'): [6599, 10270],
             ('미녀와 야수', '영화'): [6611, 21386, 22959],
             ('엘로이즈', '영화'): [6762, 10563],
             ('마녀', '영화'): [6908, 11628],
             ('나이팅게일', '영화'): [6911, 11781],
             ('추적자', '영화'): [7196, 14802],
             ('퍼즐', '영화'): [7274, 12038],
             ('룸', '영화'): [7537, 12764],
             ('조이', '영화'): [7546, 12277],
             ('라이프', '영화'): [7581, 9943],
             ('더 웨이브', '영화'): [7584, 14012],
             ('홈', '영화'): [7610, 12102],
             ('행맨', '영화'): [7816, 10324],
             ('고백', '영화'): [8159, 17347],
             ('사라진 시간', '영화'): [8187, 15418],
             ('트릭', '영화'): [8245, 9513],
             ('애프터매스', '영화'): [8282, 10174, 17085],
             ('폴라로이드', '영화'): [8359, 13884],
             ('사일런스', '영화'): [8633, 13667],
             ('걸 온 더 트레인', '영화'): [8636, 17162],
             ('더 보이', '영화'): [8737, 13588],
             ('분노', '영화'): [8805, 14059],
             ('테이크 다운', '영화'): [8977, 14592],
             ('돌로레스', '영화'): [9330, 10751],
             ('컨저링 하우스', '영화'): [9527, 12888],
             ('나만이 없는 거리', 'TV 프로그램'): [9625, 11317],
             ('고스트 스토리', '영화'): [10017, 15963],
             ('어트랙션', '영화'): [10050, 14644],
             ('비스티걸스', '영화'): [10223, 10391],
             ('너의 췌장을 먹고 싶어', '영화'): [10435, 11655],
             ('루시드 드림', '영화'): [10534, 12158],
             ('딥', '영화'): [10692, 11920],
             ('아빠는 딸', '영화'): [11008, 21652],
             ('굿 닥터', 'TV 프로그램'): [11217, 13463],
             ('세이렌', 'TV 프로그램'): [11243, 13016],
             ('블랙', 'TV 프로그램'): [11313, 11414],
             ('버닝', '영화'): [11644, 13878],
             ('갈매기', '영화'): [11849, 17277],
             ('아직 끝나지 않았다', '영화'): [12010, 21922],
             ('뮤턴트 워', '영화'): [12288, 13943],
             ('로지', '영화'): [12490, 14152],
             ('라스트 레터', '영화'): [12551, 15561],
             ('마리아', '영화'): [12639, 14173],
             ('침입자', '영화'): [12704, 16126],
             ('빌런', '영화'): [13534, 15863],
             ('블랙머니', '영화'): [13773, 15766],
             ('파라다이스 좀비', '영화'): [15909, 16101],
             ('스트레인저', 'TV 프로그램'): [16359, 16499],
             ('핑크퐁 동물동요', 'TV 프로그램'): [17842, 23599],
             ('콩순이의 율동교실', 'TV 프로그램'): [17884, 23563],
             ('플레이어', 'TV 프로그램'): [17998, 18861],
             ('핑크퐁 수동요', 'TV 프로그램'): [18190, 23750],
             ('이누야샤 완결편', 'TV 프로그램'): [18270, 23857],
             ('핑크퐁 마더구스', 'TV 프로그램'): [18444, 23689],
             ('포켓몬스터 썬&문', 'TV 프로그램'): [18482, 23813],
             ('미니특공대 슈퍼공룡파워', 'TV 프로그램'): [18773, 23578],
             ('체인지 디바', 'TV 프로그램'): [18979, 23830],
             ('푸른거탑 제로', 'TV 프로그램'): [19131, 19439],
             ('클라이언트 리스트', 'TV 프로그램'): [19246, 24101],
             ('터닝메카드W', 'TV 프로그램'): [19469, 23659],
             ('tvN Shift', 'TV 프로그램'): [19569, 19816],
             ('요괴메카드 왕마', 'TV 프로그램'): [19708, 23725],
             ('매트릭스', '영화'): [20147, 24242],
             ('쿵푸 팬더', '영화'): [20493, 24290],
             ('쿵푸 팬더 2', '영화'): [20641, 24333],
             ('겨울왕국 2', '영화'): [20897, 21190],
             ('고녀석 맛나겠다2 - 함께라서 행복해', '영화'): [21733, 23166],
             ('적인걸 더 파이널', '영화'): [22101, 24393],
             ('피터팬', '영화'): [23306, 24411]})

In [1075]:
total_data[total_data['title'] == '피터팬']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
23306,피터팬,NaN,영화,[],"['애니메이션', '']","['해밀턴 러스크', '클라이드 제로니미', '윌프레드 잭슨']","['유강진', '유해무', '김선우', '성유진', '강수진', '조동희', '탁원...",1953.0,0.0,"행복하고 아름다운 웬디의 집. 그곳엔 상냥한 어머니와 듬직한 아버지, 귀여운 동생 ...",9.0,NaN,NaN,NaN,['구매'],NaN
24411,피터팬,NaN,영화,[],"['어드벤처', '판타지', '키즈', '패밀리']",['PJ 호건'],"['제이슨 이삭스', '제러미 섬프터', '레이첼 허드우드', '린 레드그레이브',...",NaN,113.0,키스와 눈물의 비밀이 사랑에 빠진 연인을 구한다!사랑과 모험을 동경하는 웬디. 어느...,0.0,NaN,NaN,NaN,NaN,['정액제']

In [1074]:
total_data = tmp_func(22101, 24393, total_data)

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [945]:
def tmp_func(cur_idx, other_idx, total_data):
    cur, other = total_data.loc[cur_idx], total_data.loc[other_idx]
    for i in ['released_year', 'ott.tving', 'ott.coupang', 'director', 'actors']:
        if i == 'ott.tving' and not pd.isna(cur[i]):
            continue
        cur[i] = other[i]
    total_data.loc[cur_idx] = cur
    total_data = total_data.drop(other_idx)
    return total_data

In [824]:
for key, val in title_category.items():
    val.sort()
    if len(val) == 2 and (val[0] < 17764 and val[1] >= 17764):
        cur = total_data.loc[val[0]]
        other = total_data.loc[val[1]]
        for i in ['ott.tving', 'ott.coupang', 'director', 'actors']:
            cur[i] = other[i]
        total_data.loc[val[0]] = cur
        total_data = total_data.drop(val[1])

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

# Country의 결측치 => 삭제?

In [1078]:
len(total_data[total_data['country'] == '[]'])

4889

# Actor, Director의 결측치와 영어데이터 => 삭제? or검색을 활용한 방법??

In [1088]:
len(total_data[total_data['actors'] == '[]'])

1907

In [1103]:
import string
eng_actor_cnt = 0
for i in total_data['actors']:
    if len(i) > 3 and i[2] in string.ascii_letters:
        eng_actor_cnt += 1
eng_actor_cnt

13604

In [1105]:
eng_dir_cnt = 0
for i in total_data['director']:
    if len(i) > 3 and i[2] in string.ascii_letters:
        eng_dir_cnt += 1
eng_dir_cnt

11667

In [1089]:
len(total_data[total_data['director'] == '[]'])

3860

In [1119]:
mask1 = (total_data['actors'] == '[]') & (total_data['director'] == '[]')

In [1121]:
len(total_data.loc[mask1, :])

1121

# 장르로 거르는건?

In [1110]:
len(total_data[total_data['genre'] == '[]'])

692

In [723]:
tmp = set()
for i in total_data['genre'].unique():
    for j in i[1:-1].split(","):
        tmp.add(j)

In [1079]:
print(len(tmp))

248

# 영어 줄거리는 과감하게 버리는 건?

In [1124]:
import re
reg = re.compile('[ㄱ-힣]')
cnt = 0 
for i in total_data.index:
    cur = total_data.loc[i]
    try:
        if reg.search(cur['summary']):
            pass
        else:
            cnt+=1
            pass
    except:
        cnt+=1
cnt

1842

In [1087]:
total_data[total_data['title']=='아기상어: 올리와 윌리엄']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
17753,아기상어: 올리와 윌리엄,아기상어: 올리와 윌리엄,TV 프로그램,['대한민국'],[],[],"['Kimiko Glenn', 'Luke Youngblood', 'Natasha R...",2021.0,11.0,Follow Baby Shark Brooklyn and his best friend...,0.0,NaN,['정액제'],['정액제'],NaN,NaN

In [1076]:
len(total_data)

21771

In [1090]:
total_data.isnull().sum()

title                 0
original_title     4007
category              0
country               0
genre                 0
director              0
actors                0
released_year       938
runtime              24
summary              64
rating                0
ott.Netflix       16747
ott.Watcha        14642
ott.wavve          9047
ott.tving         16111
ott.coupang       19981
dtype: int64

# actor 이름 교체

In [10]:
df = pd.read_csv("/Users/jeonggyu/Desktop/수집한 dataset/data/total_data.csv")

In [11]:
with open("/Users/jeonggyu/Desktop/수집한 dataset/actors/final_actors.json", "r") as f:
    dict_actor = json.load(f)
    for idx in df.index:
        cur = df.loc[idx]
        try:
            cur_actors = cur['actors'].replace("'", "")[1:-1].split(",")

            ch_actors = list(map(lambda x: x.strip(), filter(lambda x: x is not None, map(lambda x: dict_actor.get(x), cur_actors))))
            cur['actors'] = str(ch_actors)

            df.loc[idx] = cur
        except Exception as e:
            pass
#             print(e)

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [446]:
df.head(50)

,Unnamed: 0,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
0,0,홈랜드,Homeland,TV 프로그램,['미국'],"['전쟁', '드라마', '액션', '범죄', '스릴러']",[],"['클레어 데인즈', '모리 스터링', '너맨 아카', '님랏 카우르', '맨디 파...",2011.0,52.0,미 해병대 보병 부사관인 니콜라스 브로디 하사는 이라크 자유작전(이라크 전쟁) 중 ...,7.9,['정액제'],NaN,NaN,NaN,NaN
1,1,중경삼림,重慶森林,영화,['홍콩'],"['로맨스', '드라마', '코미디', '범죄']",['왕가위'],"['임청하', '양조위', '왕페이', '금성무', '주가령', '청 싱 초', '...",1994.0,103.0,"경찰 223은 헤어진 옛 애인을 기다리며, 1달 동안 그녀에게서 연락이 오지 않으면...",8.1,NaN,['정액제'],NaN,NaN,NaN
2,2,캔디맨,Candyman,영화,['미국'],"['드라마', '공포', '스릴러']",['버나드 로즈'],"['버지니아 매드슨', '토니 토드', '잰더 버클리', '카시 레몬즈', '바네사...",1992.0,99.0,도시의 전설에 대한 논문을 쓰고 있는 헬렌 라일(Helen Lyle: 버지니아 매드...,6.6,NaN,NaN,"['정액제', '대여']",NaN,NaN
3,3,파이트 클럽,Fight Club,영화,"['독일', '미국']",['드라마'],['데이빗 핀처'],"['브래드 피트', '에드워드 노튼', '헬레나 본햄 카터', '미트 로프', '자...",1999.0,139.0,자동차 회사의 리콜 심사관으로 일하는 주인공(에드워드 노튼)은 일상의 무료함과 공허...,8.6,['정액제'],NaN,['구매'],['구매'],['정액제']
4,4,유주얼 서스펙트,The Usual Suspects,영화,['미국'],"['스릴러', '드라마', '범죄']",['브라이언 싱어'],"['스티븐 볼드윈', '가브리엘 번', '베네치오 델 토로', '채즈 팔민테리', ...",1995.0,106.0,"산 페드로 부두에서 27명이 사망하고 9,100만달러가 증발하는 유혈극이 벌어진다....",8.3,['정액제'],NaN,"['정액제', '대여', '구매']",['구매'],NaN
5,5,타이타닉,Titanic,영화,['미국'],"['드라마', '로맨스']",['제임스 카메론'],"['레오나르도 디카프리오', '케이트 윈슬렛']",1997.0,194.0,17세기 엄격한 사회 질서에 숨막혀 하는 미국 상류층 로즈는 사교계의 굴레에서 벗어...,7.8,NaN,NaN,['구매'],['구매'],NaN
6,6,비포 선라이즈,Before Sunrise,영화,"['오스트리아', '스위스', '미국']","['드라마', '로맨스', 'Made in Europe']",['리처드 링클레이터'],"['에단 호크', '줄리 델피']",1995.0,105.0,파리로 돌아가는 셀린과 비엔나로 향하는 제시. 기차 안에서 우연히 만난 그들은 짧은...,8.0,['정액제'],['정액제'],"['정액제', '대여', '구매']",NaN,['정액제']
7,7,쇼생크 탈출,The Shawshank Redemption,영화,['미국'],['드라마'],['프랭크 다라본트'],"['팀 로빈스', '모건 프리먼', '밥 건튼', '윌리암 새들러', '클랜시 브라...",1994.0,142.0,촉망받는 은행 간부 앤디 듀프레인은 아내와 그녀의 정부를 살해했다는 누명을 쓴다. ...,9.0,NaN,['정액제'],"['정액제', '대여', '구매']",NaN,NaN
8,8,굿 윌 헌팅,Good Will Hunting,영화,['미국'],"['드라마', '로맨스']",['구스 반 산트'],"['맷 데이먼', '스텔란 스카스가드', '로빈 윌리엄스', '벤 애플렉', '미니...",1997.0,127.0,"수학, 법학, 역사학 등 모든 분야에 재능이 있는 윌(맷 데이먼)은 천재적인 두뇌를...",8.2,NaN,['정액제'],['정액제'],['구매'],['정액제']
9,9,양들의 침묵,The Silence of the Lambs,영화,['미국'],"['스릴러', '공포', '드라마', '범죄']",['조나단 드미'],"['조디 포스터', '로렌스 A. 보니', '카시 레몬즈', '로렌스 T. 렌츠',...",1991.0,118.0,FBI요원 스탈링은 몸집이 비대한 여자들의 살을 도려내는 변태 살인자를 추적하라는 ...,8.4,NaN,NaN,['정액제'],NaN,['정액제']
10,10,라이언 일병 구하기,Saving Private Ryan,영화,['미국'],"['드라마', '전쟁']",['스티븐 스필버그'],"['톰 행크스', '에드워드 번스', '배리 페퍼', '애덤 골드버그', '맥스 마...",1998.0,169.0,1944년 6월 6일 노르망디 상륙 작전. 오마하 해변에 대기하고 있던 병사들은 한...,8.4,['정액제'],['정액제'],"['정액제', '대여', '구매']",['구매'],['정액제']
11,11,사운드 오브 뮤직,The Sound of Music,영화,['미국'],"['로맨스', '드라마', '가족']",['로버트 와이즈'],"['줄리 앤드류스', '크리스토퍼 플러머']",1965.0,175.0,알프스의 아름다운 자연에 둘러싸인 오스트리아의 잘츠부르크 수도원. 음악을 사랑하는 ...,7.8,NaN,NaN,['구매'],['구매'],NaN
12,12,가위손,Edward Scissorhands,영화,['미국'],"['판타지', '로맨스', '드라마']",['팀 버튼'],"['조니 뎁', '위노나 라이더']",1990.0,105.0,"한 발명가가 만든 인조인간인 에드워드는, 발명가의 갑작스런 죽음으로 가위가 달린 손...",7.8,NaN,NaN,['구매'],['구매'],NaN
13,13,화양연화,花樣年華,영화,"['중화인민공화국', '홍콩']","['드라마', '로맨스']",['왕가위'],"['양조위', '장만옥', '반적화', '뇌진', '소병림', '장동조', '캄 와...",2000.0,99.0,"홍콩의 지역 매일 신문 편집장인 초 모완, 수출회사의 비서로 근무하는 수 리첸. 둘...",8.1,NaN,['정액제'],NaN,NaN,NaN
14,14,파고,Fargo,영화,"['영국', '미국']","['범죄', '드라마', '스릴러']",['조엘 코엔'],"['프랜시스 맥도먼드', '윌리엄 H. 메이시', '스티브 부세미', '하브 프레스...",1996.0,98.0,한적한 시골도시 파고. 빚에 쪼들린 자동차 세일즈맨 제리(윌리엄 H. 머시)는 아내...,8.0,NaN,NaN,['정액제'],NaN,NaN
15,15,더블 크라임,Double Jeopardy,영화,"['캐나다', '미국']","['스릴러', '범죄', '드라마']",['브루스 베리스퍼드'],"['토미 리 존스', '애슐리 쥬드', '브루스 그린우드', '안나베스 기쉬', '...",1999.0,105.0,리비(애슐리 저드)는 남편 닉(브루스 그린우드)과 요트여행을 떠난다. 멋진 시간을 ...,6.5,['정액제'],NaN,NaN,NaN,NaN
16,16,오스틴 파워 - 제로,Austin Powers: International Man of Mystery,영화,"['독일', '미국']","['범죄', '코미디']",['제이 로치'],"['마이크 마이어스', '엘리자베스 헐리', '마이클 요크', '미미 로저스', '...",1997.0,94.0,오스틴 파워는 호시탐탐 지구의 평화를 위협하는 인류의 적 닥터 이블을 물리치기 위해...,6.8,NaN,NaN,['대여'],NaN,NaN
17,17,이웃집 토토로,となりのトトロ,영화,['일본'],"['판타지', '가족', '애니메이션']",['미야자키 하야오'],"['히다카 노리코', '다카기 히토시', '사카모토 치카', '이토이 시게사토', ...",1988.0,86.0,"1955년 일본의 아름다운 시골 마을, 상냥하고 의젓한 11살 사츠키와 장난꾸러기에...",8.1,['정액제'],NaN,NaN,NaN,NaN
18,18,포레스트 검프,Forrest Gump,영화,['미국'],"['코미디', '드라마', '로맨스']",['로버트 저매키스'],['톰 행크스'],1994.0,142.0,"불편한 다리, 남들보다 조금 떨어지는 지능을 가진 포레스트 검프는 헌신적인 어머니의...",8.7,['정액제'],['정액제'],"['정액제', '대여', '구매']",['구매'],NaN
19,19,시네마 천국,Nuovo Cinema Paradiso,영화,['이탈리아'],"['드라마', '로맨스', 'Made in Europe']",['쥬세페 토르나토레'],"['마르코 레오나르디', '필립 느와레', '자끄 페렝', '살바토레 카스치오', ...",1988.0,124.0,어린 시절 영화가 세상의 전부였던 소년 토토는 학교 수업을 마치면 마을 광장에 있는...,8.5,NaN,['정액제'],['대여'],['구매'],NaN
20,20,샤이닝,The Shining,영화,"['미국', '영국']","['스릴러', '드라마', '공포']",['스탠리 큐브릭'],"['잭 니콜슨', '셜리 듀발', '스캣맨 크로더스', '대니 로이드', '베리 넬...",1980.0,144.0,소설가인 잭 토랜스는 콜로라도 산맥에 있는 오버룩 호텔의 관리인으로 취직한다. 다음...,8.3,NaN,NaN,"['대여', '구매']",NaN,NaN
21,21,13층,The Thirteenth Floor,영화,"['독일', '미국']","['스릴러', 'SF']",['조지프 러스낙'],"['크레이그 비에코', '아민 뮬러 스탈', '그레첸 몰', '빈센트 도노프리오',...",1999.0,101.0,컴퓨터 과학자 해넌 풀러는 자신이 발견한 중요한 사실을 동료인 더글라스 홀에게 알려...,7.0,['정액제'],NaN,NaN,NaN,NaN
22,22,구니스,The Goonies,영화,['미국'],"['코미디', '가족']",['리처드 도너'],"['숀 애스틴', '조슈 브롤린', '제프 코엔', '코리 펠드만', '케리 그린'...",1985.0,114.0,은행에 잡힌 저당으로 인해 곧 철거될 한 변두리 동네에서 아이들이 보물지도 한 장을...,7.7,NaN,NaN,"['정액제', '대여', '구매']",NaN,NaN
23,23,헤더스,Heathers,영화,['미국'],"['코미디', '범죄']",['마이클 레만'],"['위노나 라이더', '크리스찬 슬레이터', '섀넌 도허티', '리샌 포크', '킴...",1989.0,102.0,학교를 장악하고 있는 헤더스라는 여학생들의 모임이 있다. 헤더스의 리더 챈들러는 짖...,7.3,NaN,NaN,"['정액제', '대여']",NaN,NaN
24,24,길버트 그레이프,What's Eating Gilbert Grape,영화,['미국'],['드라마'],['라세 할스트롬'],"['조니뎁', '줄리엣 루이스', '레오나르도 디카프리오']",1993.0,118.0,인구 1091명이 사는 아이오아주 '엔도라'에 사는 길버트 그레이프는 식료품 가게의...,7.7,NaN,['정액제'],"['정액제', '대여']",['구매'],['정액제']
25,25,사랑의 블랙홀,Groundhog Day,영화,['미국'],"['로맨스', '판타지', '코미디']",['해럴드 레이미스'],"['빌 머레이', '앤디 맥도웰', '크리스 엘리엇', '스티븐 토보로스키', '브...",1993.0,101.0,잘나가는 기상 캐스터 필 코너스는 매해 펑츄토니에서 열리는 성촉절 취재를 위해 촬영...,7.8,NaN,['정액제'],['정액제'],NaN,NaN
26,26,록키 호러 픽쳐 쇼,The Rocky Horror Picture Show,영화,"['영국', '미국']","['SF', '판타지', '공포', '코미디']",['짐 샤먼'],"['팀 커리', '수잔 서랜든', '베리 보스트윅', '리처드 오브라이언', '패트...",1975.0,100.0,친구의 결혼식에서 화환을 받은 재닛은 그 자리에서 남자 친구 브래드의 청혼을 받아들...,7.5,NaN,NaN,['구매'],NaN,NaN
27,27,데블스 에드버킷,The Devil's Advocate,영화,"['독일', '미국']","['스릴러', '공포', '드라마']",['테일러 핵퍼드'],"['키아누 리브스', '알 파치노', '샤를리즈 테론', '제프리 존스', '주디스...",1997.0,144.0,64번의 재판에서 한 번도 실패해 본 적이 없는 변호사 케빈 로막스(키아누 리브스)...,7.5,['정액제'],NaN,"['정액제', '대여', '구매']",NaN,NaN
28,28,트윈픽스,Twin Peaks: Fire Walk with Me,영화,['미국'],"['공포', '드라마', '스릴러']",['데이비드 린치'],"['쉐릴 리', '레이 와이즈', '카일 맥라클란', '다나 애쉬브룩', '키퍼 서...",1992.0,135.0,잣나무를 흔드는 바람소리가 올빼미 울음소리처럼 들리는 계곡 속의 작고 조용한 마을 ...,7.3,NaN,NaN,['대여'],NaN,NaN
29,29,블레이드 러너,Blade Runner,영화,"['홍콩', '영국', '미국']","['스릴러', '액션', 'SF']",['리들리 스콧'],"['해리슨 포드', '룻거 하우어', '숀 영', '에드워드 제임스 올모스', 'M...",1982.0,117.0,"2019년, 지구의 파괴와 엄청난 인구증가로 인해 다른 행성을 식민지 이주가 본격화...",8.0,NaN,NaN,"['대여', '구매']",NaN,NaN
30,30,대부,The Godfather,영화,['미국'],"['범죄', '드라마']",['프랜스 포든 포콜라'],"['마론 브랜도', '엘 파치노', '제임스 칸', '존 카제일', '로버트 듀바레...",1972.0,175.0,"시실리에서 이민온 뒤, 정치권까지 영향력을 미치는 거물로 자리잡은 돈 꼴레오네는 갖...",8.9,NaN,NaN,"['대여', '구매']",NaN,['정액제']
31,31,후라이드 그린 토마토,Fried Green Tomatoes,영화,['미국'],['드라마'],['존 애브넷'],"['캐시 베이츠', '메리루이즈 파커', '제시카 탠디', '시실리 타이슨', '매...",1991.0,130.0,항상 자신을 무시하는 남편과 양로원에 몸져 누워있는 숙모를 뒷바라지 하며 어느 덧 ...,7.7,NaN,['정액제'],"['정액제', '대여']",NaN,NaN
32,32,뱀파이어와의 인터뷰,Interview with the Vampire,영화,['미국'],"['공포', '판타지', '드라마']",['닐 조던'],"['브래드 피트', '톰 크루즈', '커스틴 던스트', '안토니오 반데라스', '크...",1994.0,123.0,"18세기 뉴올리언즈, 카리스마가 넘치고 퇴폐적이고 거칠것이 없는 뱀파이어 레스타트(...",7.5,NaN,NaN,"['정액제', '대여', '구매']",NaN,NaN
33,33,캐스트 어웨이,Cast Away,영화,['미국'],"['드라마', '로맨스']",['로버트 저메키스'],"['톰 행크스', '헬렌 헌트', '닉 서시', '크리스 노스', '라리 화이트']",2000.0,143.0,세상에서 가장 바쁜 사람인양 전세계를 돌아다니며 시간에 얽매여 살아가는 남자 척 놀...,7.8,['정액제'],['정액제'],"['대여', '구매']",NaN,['정액제']
34,34,12명의 성난 사람들,12 Angry Men,영화,['미국'],"['드라마', '범죄']",['시드니 루멧'],"['마틴 발삼', '존 피들러', '리J.콥', 'E.G. 마샬', '잭 클러그먼'...",1957.0,97.0,"뉴욕시의 법정에 아버지를 칼로 찌른 한 소년의 살인혐의를 두고, 12인의 배심원들은...",8.8,NaN,['정액제'],NaN,NaN,NaN
35,35,엑소시스트,The Exorcist,영화,['미국'],['공포'],['윌리엄 프리드킨'],"['엘렌 버스틴', '린다 블레어', '막스 폰 시도우', '리J.콥', '키티 윈...",1973.0,122.0,노신부 메린(막스 본 시도우 분)은 이라크 북부에서 고분을 발굴하다 이상한 조각을 ...,7.8,NaN,NaN,"['정액제', '대여', '구매']",NaN,NaN
36,36,웨스트 사이드 스토리,West Side Story,영화,['미국'],"['드라마', '범죄', '로맨스']","['제롬 로빈스', '로버트 와이즈']","['내털리 우드', '리차드 베이머', '러스 탬블린', '리타 모레노', '조지 ...",1961.0,152.0,1940년대 푸에르토 리코를 보호령으로 한 미국에 자유로 들어오는 푸에르토 리코의 ...,7.4,NaN,['정액제'],['대여'],NaN,NaN
37,37,모노노케 히메,もののけ姫,영화,['일본'],"['판타지', '애니메이션', '액션']",['미야자키 하야오'],"['이시다 유리코', '코바야시 카오루', '니시무라 마사히코', '시마모토 스미'...",1997.0,134.0,"북쪽의 끝, 에미시족의 마을에 어느 날 갑자기 재앙신이 나타나 마을을 위협한다. 이...",8.4,['정액제'],NaN,NaN,NaN,NaN
38,38,동성서취,射鵰英雄傳之東成西就,영화,['홍콩'],"['코미디', '액션', '판타지']",['유진위'],"['장국영', '임청하', '장만옥', '양조위', '양가휘', '장학우', '유가...",1993.0,103.0,금륜국의 여왕이 사촌 서독과 사랑에 빠져 국왕을 살해하고 반란을 일으키자 이를 안 ...,7.0,['정액제'],['정액제'],"['정액제', '대여']",NaN,NaN
39,39,빌리 엘리어트,Billy Elliot,영화,"['영국', '프랑스']","['코미디', '음악', '드라마', 'Made in Europe']",['스티븐 달드리'],"['제이미 벨', '줄리 월터스', '게리 루이스', '제이미 드레이븐']",2000.0,110.0,영국 북부 탄광촌에 사는 11살 소년 빌리. 매일 복싱을 배우러 가는 체육관에서 우...,7.7,NaN,['정액제'],"['정액제', '대여']",['구매'],NaN
40,40,아키라,アキラ,영화,['일본'],"['SF', '액션', '드라마', '판타지', '스릴러', '애니메이션']",['오토모 가쓰히로'],"['이와타 미츠오', '사사키 노조무', '코야마 마미', '겐다 테쇼', '후치자...",1988.0,125.0,"198X년 도쿄는 신형 폭탄에 의해 붕괴되고, 제3차 세계대전으로 발전하여, 세계는...",8.0,NaN,NaN,['대여'],NaN,NaN
41,41,메멘토,Memento,영화,['미국'],['스릴러'],['크리스토퍼 놀란'],"['가이 피어스', '캐리 앤 모스', '조 판토리아노']",2000.0,113.0,전직 보험 수사관이었던 레너드에게 기억이란 없다. 자신의 아내가 강간당하고 살해되던...,8.3,['정액제'],['정액제'],"['정액제', '대여']",NaN,['정액제']
42,42,델마와 루이스,Thelma & Louise,영화,['미국'],"['스릴러', '범죄', '드라마']",['리들리 스콧'],"['지나 데이비스', '수잔 서랜든', '브래드 피트', '크리스토퍼 맥도날드', ...",1991.0,130.0,보수적인 남편을 둔 가정주부 델마와 식당 웨이트리스로 일하는 루이스. 반복되는 일상...,7.5,NaN,NaN,['정액제'],NaN,['정액제']
43,43,원스 어폰 어 타임 인 아메리카,Once Upon a Time in America,영화,"['미국', '이탈리아']","['범죄', '드라마', 'Made in Europe']",['세르지오 레오네'],['로버트 드 니로'],1984.0,229.0,"1921년, 좀도둑질을 일삼던 누들스는 친구들과 함께 밀수품 운반 일을 하며 돈을 ...",8.4,NaN,NaN,"['정액제', '대여']",['구매'],NaN
44,44,원더풀 라이프,ワンダフルライフ,영화,['일본'],"['드라마', '판타지']",['고레에다 히로카즈'],"['이우라 아라타', '카가와 쿄코', '테라지마 스스무', '오다 에리카']",1998.0,118.0,죽은 사람이라면 누구나 1주일간 머물러야 하는 저승과의 경계 지역 림보. 이곳의 면...,7.3,['정액제'],NaN,['대여'],['구매'],NaN
45,45,노팅 힐,Notting Hill,영화,"['영국', '미국']","['로맨스', '드라마', '코미디']",['로저 미첼'],"['줄리아 로버츠', '휴 그랜트', '지나 맥키', '팀 멕네니', '리스 이판'...",1999.0,124.0,윌리엄 태커(휴 그랜트분)는 웨스트 런던의 ‘노팅 힐’에 사는 소심한 남자. 역시 ...,7.2,['정액제'],['정액제'],"['정액제', '대여', '구매']",NaN,NaN
46,46,죠스,Jaws,영화,['미국'],"['스릴러', '드라마']",['스티븐 스필버그'],"['로이 샤이더', '리차드 드레이퓨즈', '로버트 쇼', '머레이 해밀턴', '로...",1975.0,120.0,"뉴 잉글랜드의 작은 해안 피서지 애미티(Amity). 아주 평화로운 바닷가 마을로,...",7.8,NaN,NaN,"['대여', '구매']",NaN,NaN
47,47,영웅본색,英雄本色,영화,['홍콩'],"['액션', '범죄', '드라마', '스릴러']",['오우삼'],"['적룡', '주윤발', '장국영', '주보의', '이자웅', '전풍', '오우삼'...",1986.0,95.0,암흑가에서 성장한 송자호는 경찰의 길을 걷는 동생 아걸 때문에 손을 씻으려 한다. ...,7.5,NaN,NaN,['대여'],NaN,NaN
48,48,에이리언,Alien,영화,"['미국', '영국']","['SF', '공포']",['리들리 스콧'],"['시고니 위버', '톰 스커릿', '존 허트', '베로니카 카트라이트', '해리 ...",1979.0,117.0,"2122년, 2천만톤의 광물과 7명의 승무원을 태우고 지구로 귀환중인 화물선 노스트...",8.2,NaN,NaN,['구매'],NaN,NaN
49,49,세븐,Se7en,영화,['미국'],"['범죄', '스릴러', '드라마']",['데이비드 핀처'],"['모건 프리먼', '브래드 피트', '기네스 팰트로', '케빈 스페이시', 'R....",1995.0,126.0,은퇴를 7일 앞둔 관록의 형사 윌리엄 소머셋(모건 프리먼)과 새로 전근 온 신참내기...,8.4,['정액제'],NaN,"['대여', '구매']",NaN,NaN

# director 이름 교체

In [12]:
with open("/Users/jeonggyu/Desktop/수집한 dataset/director/final_director.json") as f:
    dict_dir = json.load(f)
    for idx in df.index:
        cur = df.loc[idx]
        cur_dir = cur['director'].replace("'", "")[1:-1].split(",")
        
        ch_dir = list(map(lambda x: x.strip(), filter(lambda x: x is not None, map(lambda x: dict_dir.get(x), cur_dir))))
        
        cur['director'] = str(ch_dir)
        df.loc[idx] = cur

In [296]:
with open(f"/Users/jeonggyu/Desktop/수집한 dataset/director/director.json", "r") as nf,\
     open(f"/Users/jeonggyu/Desktop/수집한 dataset/director/final_director.json", "w") as target:
    nd = json.load(nf)
    print(len(nd.keys()))

    # 한글 key 값들 처리
    for key, val in nd.items():
        if reg.search(key):
            nd[key] = key
    
    
    tmp = dict(filter(lambda x: reg.search(str(x[1])), nd.items()))
    
    print(len(tmp.keys()))
    target.write(json.dumps(tmp))

13959
11339

In [13]:
df.to_csv("/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.csv")

# actor 데이터 합치기

In [360]:
import re
reg = re.compile('[가-힣]')

file_name = [('0', '7214'), ('7214', '25000'), ('25000', '50000'), ('50000', '75000'), ['75000', '100000'], ['100000', 'end']]
for start, end in file_name:
    with open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/google_{start}_{end}.json', "r") as nf,\
         open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/{start}_{end}.json', "r") as of,\
         open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_{start}_{end}.json', "w") as target:
        nd, od = json.load(nf), json.load(of)
        print("naver = ", len(od), len(list(filter(lambda x: x[1] is None, od.items()))))
        print("google = ", len(nd), len(list(filter(lambda x: x[1] is None, nd.items()))))
        # google검색을 naver와 합친다.
        od.update(nd)

        # 한글 key 값들 처리
        for key, val in od.items():
            if reg.search(key):
                od[key] = key

        # none 처리
        tmp = dict(filter(lambda x: x[1] is not None, od.items()))

        # 영어 value 값 처리
        tmp = dict(filter(lambda x: reg.search(str(x[1])), tmp.items()))

        print("naver + google = ", len(tmp))

        target.write(json.dumps(tmp))

naver =  7214 4065
google =  4065 1269
naver + google =  5852
naver =  17786 11851
google =  11851 4405
naver + google =  13004
naver =  25000 15191
google =  15191 5867
naver + google =  18702
naver =  25000 17172
google =  17172 6908
naver + google =  17486
naver =  25000 19026
google =  19026 7901
naver + google =  16296
naver =  37411 27341
google =  27341 12744
naver + google =  24737

In [362]:
with open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_0_7214.json', "r") as f1,\
     open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_7214_25000.json', "r") as f2,\
     open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_25000_50000.json', "r") as f3,\
     open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_50000_75000.json', "r") as f4, \
     open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_75000_100000.json', "r") as f5, \
     open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_100000_end.json', "r") as f6, \
     open(f'/Users/jeonggyu/Desktop/수집한 dataset/actors/final_actors.json', "w") as target:
    d1, d2, d3, d4, d5, d6 = json.load(f1), json.load(f2), json.load(f3), json.load(f4), json.load(f5), json.load(f6)
    print(len(d1), len(d2), len(d3), len(d4), len(d5), len(d6))
    d1.update(d2)
    d1.update(d3)
    d1.update(d4)
    d1.update(d5)
    d1.update(d6)
    print(len(d1))
    target.write(json.dumps(d1))

5852 13004 18702 17486 16296 24737
96077

In [448]:
df = df.drop(columns=['Unnamed: 0', 'original_title', 'country'])

In [450]:
js = df.to_json("/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.json", orient="index")

In [437]:
len(df['director'].unique())

9117

In [447]:
abcd = set()
for i in df['actorss'].unique():
    for val in ast.literal_eval(i):
        abcd.add(val)s
len(abcd)

83169

In [3]:
import pandas as pd

In [6]:
import csv
import json

input_file_name = "/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.json"
output_file_name = "/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.csv"

with open(input_file_name, "r", encoding="utf-8", newline="") as input_file, \
        open(output_file_name, "w", encoding="utf-8", newline="") as output_file:

    data = []
    for line in input_file:
        datum = json.loads(line)
        data.append(datum)
        
    csvwriter = csv.writer(output_file)
    csvwriter.writerow(data[0].keys())
    for line in data:
        csvwriter.writerow(line.values())

In [103]:
df = pd.read_csv("/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.csv")

In [104]:
len(df)

21771

In [105]:
df = df.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "original_title", "country"])

In [106]:
df.head(5)

,title,category,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
0,홈랜드,TV 프로그램,"['전쟁', '드라마', '액션', '범죄', '스릴러']",[],"['클레어 데인즈', '모리 스터링', '너맨 아카', '님랏 카우르', '맨디 파...",2011.0,52.0,미 해병대 보병 부사관인 니콜라스 브로디 하사는 이라크 자유작전(이라크 전쟁) 중 ...,7.9,['정액제'],NaN,NaN,NaN,NaN
1,중경삼림,영화,"['로맨스', '드라마', '코미디', '범죄']",['왕가위'],"['임청하', '양조위', '왕페이', '금성무', '주가령', '청 싱 초', '...",1994.0,103.0,"경찰 223은 헤어진 옛 애인을 기다리며, 1달 동안 그녀에게서 연락이 오지 않으면...",8.1,NaN,['정액제'],NaN,NaN,NaN
2,캔디맨,영화,"['드라마', '공포', '스릴러']",['버나드 로즈'],"['버지니아 매드슨', '토니 토드', '잰더 버클리', '카시 레몬즈', '바네사...",1992.0,99.0,도시의 전설에 대한 논문을 쓰고 있는 헬렌 라일(Helen Lyle: 버지니아 매드...,6.6,NaN,NaN,"['정액제', '대여']",NaN,NaN
3,파이트 클럽,영화,['드라마'],['데이빗 핀처'],"['브래드 피트', '에드워드 노튼', '헬레나 본햄 카터', '미트 로프', '자...",1999.0,139.0,자동차 회사의 리콜 심사관으로 일하는 주인공(에드워드 노튼)은 일상의 무료함과 공허...,8.6,['정액제'],NaN,['구매'],['구매'],['정액제']
4,유주얼 서스펙트,영화,"['스릴러', '드라마', '범죄']",['브라이언 싱어'],"['스티븐 볼드윈', '가브리엘 번', '베네치오 델 토로', '채즈 팔민테리', ...",1995.0,106.0,"산 페드로 부두에서 27명이 사망하고 9,100만달러가 증발하는 유혈극이 벌어진다....",8.3,['정액제'],NaN,"['정액제', '대여', '구매']",['구매'],NaN

In [114]:
import ast
a = set()
for i in df['genre'].unique():
    for val in ast.literal_eval(i):
        a.add(val)

In [115]:
a

{'SF',
 'e스포츠 리그',
 '가족',
 '가족 예능',
 '강연',
 '갱스터',
 '건강',
 '게임',
 '게임 버라이어티',
 '게임쇼',
 '고전 키즈',
 '공룡',
 '공연',
 '공연실황',
 '공포',
 '과학',
 '관찰리얼리티',
 '교양',
 '교육',
 '국제대회',
 '권력',
 '기술',
 '나영석 예능',
 '낚시',
 '노래',
 '느와르',
 '다큐멘터리',
 '다크 코미디',
 '단막극',
 '당구',
 '독서 예능',
 '동물',
 '동요',
 '동화',
 '드라마',
 '디지털오리지널',
 '로맨스',
 '로맨틱 코미디',
 '로봇',
 '리빙',
 '리얼리티',
 '마법',
 '마법과 모험',
 '막장',
 '먹방',
 '메디컬',
 '멜로',
 '명랑',
 '모험',
 '뮤지컬',
 '뮤직',
 '미국',
 '미스터리',
 '밀리터리',
 '버라이어티',
 '범죄',
 '범죄 스릴러',
 '법정',
 '복수',
 '뷰티',
 '비하인드',
 '사극',
 '생활꿀팁',
 '서바이벌',
 '서부',
 '서부극',
 '선발대회',
 '성인',
 '성장',
 '소설 원작',
 '수사극',
 '수사물',
 '순정',
 '스릴러',
 '스타일',
 '스페셜',
 '스포츠',
 '스포츠 예능',
 '시대극',
 '시리즈물',
 '시사',
 '시상식',
 '시트콤',
 '실화',
 '실화 바탕',
 '아이돌',
 '애니',
 '애니멀',
 '애니메이션',
 '액션',
 '어드벤처',
 '어린이',
 '에듀테인먼트',
 '여성주인공',
 '여행',
 '역사',
 '연애',
 '연애 리얼리티',
 '엽기',
 '영국',
 '영어교육',
 '영유아',
 '영화',
 '예능',
 '예능 스페셜',
 '오컬트',
 '오피스 드라마',
 '요리',
 '요리 서바이벌',
 '워맨스',
 '웹드라마',
 '웹예능',
 '웹툰',
 '유아',
 '육아',
 '음식',
 '음악',
 '음악 서바이벌',
 '음악예능',
 '의학',
 '인포테인먼트',
 '일반',
 '일본',
 '자연',
 '재테크',
 '전기',
 '전쟁',
 '정치',
 '중국',
 '차트쇼',
 '첩보물',
 '청춘',
 '축제',
 '취미',
 '코미디',
 '콘서트',
 '쿡방',
 '퀴즈쇼',
 '키즈',
 '타임슬립',
 '탐사보도',
 '토론',
 '토크',
 '판타지',
 '패밀리',
 '펫',
 '학습',
 '학원',
 '해외시리즈',
 '호러',
 '홀리데이',
 '홈트',
 '휴먼',
 '히어로',
 '힐링 예능'}

# 뺄 것들
- ''
- '3d'
- 'Made in Europe'
- 'Reality TV'
- 'sf' => 'SF'
- '건강/의학' => '건강', '의학'
- '공포(호러)' => '공포'
- '공포/스릴러' => '공포', '스릴러'
- '공포/오컬트' => '공포', '오컬트'
- '교육&독서 예능' => '교육', '독서 예능'
- '노래/동요' => '노래', '동요'
- '동물 친구들' => '동물'
- '로맨스/순정' => '로맨스', '순정'
- '로봇/액션' => '로봇', '액션'
- '리빙/재테크' => '리빙', '재테크'
- '멜로/로맨스' => '멜로', '로맨스'
- '모험/판타지' => '모험', '판타지'
- '미스터리/스릴러' => '미스터리', '스릴러'
- '서부극(웨스턴) => '서부극'
- '스페셜 몰아보기' => '스페셜'
- '시사・교양' => '시사', '교양'
- '실화 바탕' => '실화'
- '어드밴처', '어드벤처', '어드벤쳐' => '어드벤쳐'
- '연애 리얼리티&토크쇼' => '연애 리얼리티', '토크쇼'
- '자동차,기차, 탈 것' => 없애자
- '자동차와 비행기' => 없애자
- '청춘(성장)' => '청춘'
- '코메디' => '코미디'
- '토크쇼' => '토크'

In [110]:
change_dict = {"" : "del","3d" : "del", "Made in Europe": "del", "Reality TV": "del", "sf": "SF", "공포(호러)": "공포", "동물 친구들": "동물", "서부극(웨스턴)": "서부극", "스페셜 몰아보기" : "스페셜", "어드밴처" : "어드벤처", "어드벤쳐" : "어드벤처", "자동차,기차, 탈 것" : "del", "자동차와 비행기" : "del", "청춘(성장)": "청춘", "코메디" : "코미디", "토크쇼" : "토크", "아이돌(리얼리티)": "아이돌"}

In [111]:
def split_func(val_list):
    ans = []
    for val in val_list:
        for v in val.replace("&", "/").replace("・", "/").split("/"):
            ans.append(v.strip())
    return ans

In [112]:

def func(x):
    
    if change_dict.get(x) is None:
        return x
    elif change_dict.get(x) == "del":
        return
    return change_dict.get(x)
    
for idx in df.index:
    cur = df.loc[idx]
    try:
        # 먼저 "/", "&"를 나누는 것부터 하자.
        cur_genres = split_func(ast.literal_eval(cur['genre']))

        ch_genres = list(filter(lambda x: x is not None, map(func, cur_genres)))

        cur['genre'] = str(list(set(ch_genres)))

        df.loc[idx] = cur
    except Exception as e:
        pass
        print(e)

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [113]:
df.head(5)

,title,category,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
0,홈랜드,TV 프로그램,"['범죄', '스릴러', '액션', '드라마', '전쟁']",[],"['클레어 데인즈', '모리 스터링', '너맨 아카', '님랏 카우르', '맨디 파...",2011.0,52.0,미 해병대 보병 부사관인 니콜라스 브로디 하사는 이라크 자유작전(이라크 전쟁) 중 ...,7.9,['정액제'],NaN,NaN,NaN,NaN
1,중경삼림,영화,"['코미디', '드라마', '로맨스', '범죄']",['왕가위'],"['임청하', '양조위', '왕페이', '금성무', '주가령', '청 싱 초', '...",1994.0,103.0,"경찰 223은 헤어진 옛 애인을 기다리며, 1달 동안 그녀에게서 연락이 오지 않으면...",8.1,NaN,['정액제'],NaN,NaN,NaN
2,캔디맨,영화,"['공포', '드라마', '스릴러']",['버나드 로즈'],"['버지니아 매드슨', '토니 토드', '잰더 버클리', '카시 레몬즈', '바네사...",1992.0,99.0,도시의 전설에 대한 논문을 쓰고 있는 헬렌 라일(Helen Lyle: 버지니아 매드...,6.6,NaN,NaN,"['정액제', '대여']",NaN,NaN
3,파이트 클럽,영화,['드라마'],['데이빗 핀처'],"['브래드 피트', '에드워드 노튼', '헬레나 본햄 카터', '미트 로프', '자...",1999.0,139.0,자동차 회사의 리콜 심사관으로 일하는 주인공(에드워드 노튼)은 일상의 무료함과 공허...,8.6,['정액제'],NaN,['구매'],['구매'],['정액제']
4,유주얼 서스펙트,영화,"['범죄', '드라마', '스릴러']",['브라이언 싱어'],"['스티븐 볼드윈', '가브리엘 번', '베네치오 델 토로', '채즈 팔민테리', ...",1995.0,106.0,"산 페드로 부두에서 27명이 사망하고 9,100만달러가 증발하는 유혈극이 벌어진다....",8.3,['정액제'],NaN,"['정액제', '대여', '구매']",['구매'],NaN

In [116]:
df.to_csv("/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.csv")
df.to_json("/Users/jeonggyu/Desktop/수집한 dataset/data/final_total_data.json", orient="index")