In [40]:
import pandas as pd
import json

In [219]:
pd.set_option("display.max_columns", None)

# JustWatch 정보 확인

In [ ]:
jw_df = pd.read_csv('/Users/jeonggyu/Desktop/수집한 dataset/jw_ott.csv')

In [111]:
jw_df.columns

Index(['Unnamed: 0', 'title', 'original_title', 'category', 'country', 'genre',
       'director', 'actors', 'released_year', 'runtime', 'summary', 'rating',
       'ott.Netflix', 'ott.Naver Store', 'ott.Watcha', 'ott.wavve',
       'ott.Google Play Movies', 'ott.Amazon Prime Video', 'ott.BroadwayHD',
       'ott.Mubi', 'ott.', 'ott.Plex', 'ott.DocAlliance Films',
       'ott.WOW Presents Plus', 'ott.Crunchyroll', 'ott.DOCSVILLE',
       'ott.GuideDoc', 'ott.Filmzie', 'ott.True Story', 'ott.Hoichoi',
       'ott.Spamflix', 'ott.Dekkoo', 'ott.Curiosity Stream'],
      dtype='object')

# Justwatch 데이터 전처리

In [459]:
# 이건 어떻게 처리할까
len(jw_df[jw_df['director'] == '[]'])

3267

In [460]:
# runtime없는 것은 어떻게? summary없는 것은 어떻게?
jw_df.isnull().sum()

Unnamed: 0                    0
title                         0
original_title                0
category                      0
country                       0
genre                         0
director                      0
actors                        0
released_year                 0
runtime                      24
summary                      61
rating                        0
ott.Netflix               12740
ott.Naver Store            7893
ott.Watcha                10635
ott.wavve                  5040
ott.Google Play Movies    11053
ott.Amazon Prime Video    17634
ott.BroadwayHD            17746
ott.Mubi                  17742
ott.                      17752
ott.Plex                  17692
ott.DocAlliance Films     17758
ott.WOW Presents Plus     17761
ott.Crunchyroll           17752
ott.DOCSVILLE             17763
ott.GuideDoc              17756
ott.Filmzie               17759
ott.True Story            17762
ott.Hoichoi               17763
ott.Spamflix              17762
ott.Dekkoo                17763
ott.Curiosity Stream      17763
dtype: int64

In [482]:
# ott서비스 필요한 것만 가져옴 (넷플릭스, 티빙, 웨이브, 왓챠, 쿠팡플레이)
need_ott = set(filter(lambda x: x.startswith('ott'), jw_df.columns)) - {'ott.Netflix', 'ott.Watcha', 'ott.wavve'}
jw_df = jw_df.drop(columns=need_ott)

In [483]:
len(jw_df[jw_df.duplicated()])

0

# tving 전처리

In [498]:
tving_df = pd.read_csv('/Users/jeonggyu/Desktop/수집한 dataset/tving_ott.csv')

In [499]:
tving_df.columns

Index(['Unnamed: 0', 'title', 'original_title', 'category', 'country', 'genre',
       'director', 'actors', 'released_year', 'runtime', 'summary', 'rating',
       'ott.tving'],
      dtype='object')

In [500]:
print(len(tving_df['title'].unique()))
print(len(tving_df))

5694
5852

In [501]:
tving_df.isnull().sum()

Unnamed: 0           0
title                0
original_title    2392
category             0
country              0
genre                0
director             0
actors               0
released_year        0
runtime              0
summary              3
rating               0
ott.tving            0
dtype: int64

In [503]:
len(tving_df[tving_df.duplicated()])

31

In [504]:
tving_df = tving_df.drop_duplicates()

In [505]:
len(tving_df[tving_df.duplicated()])

0

In [506]:
tving_df.isnull().sum()

Unnamed: 0       0
title            0
category         0
country          0
genre            0
director         0
actors           0
released_year    0
runtime          0
summary          3
rating           0
ott.tving        0
dtype: int64

In [563]:
len(tving_df[tving_df.duplicated(['title', 'category', 'director'])])

68

In [564]:
tving_df = tving_df.drop_duplicates(['title', 'category', 'director'])

In [579]:
len(tving_df)

5753

# Coupang 전처리

In [507]:
coupang_df = pd.read_csv('/Users/jeonggyu/Desktop/수집한 dataset/coupang_ott.csv')

In [508]:
coupang_df.columns

Index(['Unnamed: 0', 'id', 'title', 'director', 'actors', 'summary', 'country',
       'category', 'genre', 'runtime', 'rating', 'is_netflix', 'is_tving',
       'is_wavve', 'is_watcha', 'is_coopang', 'ott.coupang'],
      dtype='object')

In [509]:
print(len(coupang_df['title'].unique()))
print(len(coupang_df))

1791
1791

In [510]:
coupang_df.isnull().sum()

Unnamed: 0     0
id             0
title          0
director       0
actors         0
summary        0
country        0
category       0
genre          0
runtime        0
rating         0
is_netflix     0
is_tving       0
is_wavve       0
is_watcha      0
is_coopang     0
ott.coupang    0
dtype: int64

In [511]:
coupang_df = coupang_df.drop(columns=['id','is_netflix', 'is_tving', 'is_wavve', 'is_watcha', 'is_coopang'])

In [512]:
len(coupang_df[coupang_df.duplicated()])

0

In [528]:
len(coupang_df)

1791

In [574]:
len(coupang_df[coupang_df.duplicated(['title', 'category', 'director'])])

0

# tving + coupang

In [653]:
tv_cou_df = pd.concat([tving_df, coupang_df], ignore_index=True)

In [654]:
print(len(tv_cou_df))
tv_cou_df.head(5)

7544

,Unnamed: 0,title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.tving,ott.coupang
0,0,갯마을 차차차,TV 프로그램,[],"['드라마', '로맨스']",['유제원'],"['신민아', '김선호', '이상이', '김영옥', '조한철', '공민정', '인교...",2021.0,0,현실주의 치과의사 윤혜진과 만능 백수 홍반장이 짠내 사람내음 가득한 바닷마을 ‘공진...,0.0,['정액제'],NaN
1,0,유미의 세포들,TV 프로그램,[],"['드라마', '로맨스']",['이상엽'],"['김고은', '안보현', '이유비', '박지현']",2021.0,0,세포들과 함께 먹고 사랑하고 성장하는 평범한 유미(김고은 분)의 이야기를 그린 세포...,0.0,['정액제'],NaN
2,0,환승연애,TV 프로그램,[],"['예능', '관찰리얼리티']","['이진주', '최미래', '이희선', '김슬기', '곽정은', '이승환', '신혜...","['사이먼도미닉', '이용진', '김예원', '유라']",2021.0,0,다양한 이유로 이별한 커플들이 모여 \r\n지나간 사랑을 되짚고 \r\n새로운 사랑...,0.0,['정액제'],NaN
3,0,놀라운 토요일,TV 프로그램,[],"['예능', '음악예능']","['이태경', '진보미', '강은비', '강유민', '김윤아', '임다영']","['신동엽', '김동현', '문세윤', '박나래', '넉살', '태연', '한해',...",2018.0,0,‘좋아요’ 폭발하는 SNS 핵 공감 핫 플레이스부터 오랜 전통이 살아 숨 쉬는 노포...,0.0,['정액제'],NaN
4,0,Show Me The Money 10,TV 프로그램,[],"['예능', '음악예능']",[],[],2021.0,0,Mnet <Show Me The Money 10>\r\n2021 COMING SOON,0.0,['정액제'],NaN

In [655]:
len(tv_cou_df[tv_cou_df.duplicated(['title', 'category', 'director'])])

362

## tving, coupang 중복 데이터 제거

In [656]:
dup_index = tv_cou_df[tv_cou_df.duplicated(['title', 'category', 'director'], keep=False)].index

In [657]:
tv_cou_df[tv_cou_df['title'] == '걸캅스']

,Unnamed: 0,title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.tving,ott.coupang
2318,0,걸캅스,영화,[],"['코미디', '']",['정다원'],"['라미란', '이성경', '윤상현', '최수영']",2018.0,0,′민원실 퇴출 0순위 전직 전설의 형사 ′미영′과 민원실로 밀려난 현직 꼴통 형사 ...,6.0,['구매'],NaN
7510,0,걸캅스,영화,[],"['코미디', '액션', '범죄']",['정다원'],"['라미란', '이성경']",NaN,107,민원실 퇴출 0순위 전직 전설의 형사 미영과 민원실로 밀려난 현직 꼴통 형사 지혜....,0.0,NaN,['정액제']

In [659]:
for idx in dup_index:
    if idx < 5753:
        # tving_index
        coupang_idx = search_dup_data_in_coupang(tv_cou_df.loc[idx]['title'], tv_cou_df)
        if coupang_idx is None:
            continue
        cur_data = tv_cou_df.loc[idx]
        for i in ['runtime', 'genre', 'actors', 'ott.coupang']:
            if len(str(cur_data[i])) <= len(str(tv_cou_df.loc[coupang_idx][i])):
                cur_data[i] = tv_cou_df.loc[coupang_idx][i]
        tv_cou_df = tv_cou_df.drop(coupang_idx)
        tv_cou_df.loc[idx] = cur_data

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [658]:
def search_dup_data_in_coupang(title, df):
    for idx in dup_index:
        if idx < 5753:
            continue
        # coupang_index
        try:
            com_title = df.loc[idx]['title']
        except:
            continue
        if df.loc[idx]['title'] == title:
            return idx

In [660]:
tv_cou_df[tv_cou_df['title'] == '걸캅스']

,Unnamed: 0,title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.tving,ott.coupang
2318,0,걸캅스,영화,[],"['코미디', '액션', '범죄']",['정다원'],"['라미란', '이성경', '윤상현', '최수영']",2018.0,107,′민원실 퇴출 0순위 전직 전설의 형사 ′미영′과 민원실로 밀려난 현직 꼴통 형사 ...,6.0,['구매'],['정액제']

In [661]:
len(tv_cou_df[tv_cou_df.duplicated(['title', 'category', 'director'])])

0

In [662]:
len(tv_cou_df)

7182

# JustWatch + Tving Data + Coupang

In [679]:
total_data = pd.concat([jw_df, tv_cou_df], ignore_index=True)

In [680]:
len(total_data)

24946

In [681]:
total_data.head(2)

,Unnamed: 0,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
0,0,홈랜드,Homeland,TV 프로그램,['미국'],"['전쟁', '드라마', '액션', '범죄', '스릴러']",[],"['Claire Danes', 'Maury Sterling', 'Numan Acar...",2011.0,52.0,미 해병대 보병 부사관인 니콜라스 브로디 하사는 이라크 자유작전(이라크 전쟁) 중 ...,7.9,['정액제'],NaN,NaN,NaN,NaN
1,0,중경삼림,重慶森林,영화,['홍콩'],"['로맨스', '드라마', '코미디', '범죄']",['Wong Kar-wai'],"['Brigitte Lin', 'Tony Leung Chiu-wai', 'Faye ...",1994.0,103.0,"경찰 223은 헤어진 옛 애인을 기다리며, 1달 동안 그녀에게서 연락이 오지 않으면...",8.1,NaN,['정액제'],NaN,NaN,NaN

In [682]:
len(total_data[total_data.duplicated()])

0

In [683]:
total_data = total_data.drop(columns=['Unnamed: 0'])

# 중복 데이터 제거 ((Tving+Coupang)과 justwatch 겹치는 목록)

In [684]:
# 중복되는 인덱스의 배열
dup_index = total_data[total_data.duplicated(['title', 'category', 'released_year'], keep=False)].index
print(dup_index)

Int64Index([    3,     4,     5,     8,    10,    11,    12,    18,    19,
               24,
            ...
            23503, 23504, 23506, 23509, 23511, 23512, 23513, 23514, 23515,
            23516],
           dtype='int64', length=4234)

In [685]:
total_data[total_data['title']=='괴물']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
2923,괴물,괴물,영화,['대한민국'],"['공포', '애니메이션', '액션', '드라마', 'SF']",['Bong Joon-ho'],"['Song Kang-ho', 'Byun Hee-bong', 'Park Hae-il...",2006.0,120.0,"아버지가 운영하는 한강매점, 늘어지게 낮잠 자던 강두는 우연히 특이한 광경을 목격하...",7.0,['정액제'],['정액제'],"['대여', '구매']",NaN,NaN
17376,괴물,괴물,TV 프로그램,['대한민국'],"['드라마', '범죄', '스릴러']",['Sim Na-yeon'],"['Shin Ha-kyun', 'Yeo Jin-goo', 'Choi Dae-hoon...",2021.0,66.0,연쇄살인마를 잡기 위해 법과 원칙을 부숴버린 두 남자의 이야기. 또라이 경사 앞에 ...,8.2,['정액제'],NaN,NaN,NaN,NaN
18424,괴물,NaN,TV 프로그램,[],"['드라마', '공포/오컬트']","['심나연감독', '박성은EP']","['신하균', '여진구', '최대훈', '최성은']",2021.0,0.0,‘괴물은 누구인가. 너인가. 나인가. 우리인가.’ 만양에서 펼쳐지는 괴물 같은 두 ...,0.0,NaN,NaN,NaN,['정액제'],NaN
21966,괴물,NaN,영화,[],"[' 드라마', '패밀리', '액션', 'SF']",['봉준호'],"[' 송강호', ' 변희봉', '박해일', '배두나', '고아성']",2006.0,119.0,"햇살 가득한 평화로운 한강 둔치 아버지가 운영하는 한강 매점, 늘어지게 낮잠 자던 ...",9.0,NaN,NaN,NaN,['구매'],['정액제']

In [686]:
len(total_data)

24946

In [687]:
for idx in dup_index:
    if idx < 17764:
        # justwatch data
        tving_idx = search_dup_data_in_tving(total_data.loc[idx]['title'])
        if tving_idx is None:
            print("error")
            continue
        cur_data = total_data.loc[idx]
        for i in ['director', 'actors', 'ott.tving', 'ott.coupang']:
            cur_data[i] = total_data.loc[tving_idx][i]
        total_data = total_data.drop(tving_idx)
        total_data.loc[idx] = cur_data

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

error
error
error
error
error
error
error
error
error

In [648]:
def search_dup_data_in_tving(title):
    for idx in dup_index:
        if idx < 17764:
            continue
        try:
            com_title = total_data.loc[idx]['title']
        except:
            continue
        if total_data.loc[idx]['title'] == title:
            return idx

In [650]:
len(total_data)

22839

In [713]:
total_data[total_data['title']=='아수라']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
5472,아수라,アシュラ,영화,['일본'],"['공포', '애니메이션', '액션', '드라마', '역사']",['Keiichi Sato'],"['Masako Nozawa', 'Hiroaki Hirata', 'Kinya Kit...",2012.0,76.0,“태어나지 않는 편이 좋았을 텐데…” 15세기 중기(무로마치 시대)의 교토는 그야...,6.8,NaN,NaN,"['정액제', '대여']",NaN,NaN
8590,아수라,아수라,영화,['대한민국'],"['범죄', '액션', '드라마', '스릴러']",['김성수'],"['정우성', '황정민', '주지훈', '곽도원']",2016.0,136.0,강력계 형사 한도경은 이권과 성공을 위해 각종 범죄를 저지르는 악덕시장 박성배의 뒷...,6.7,['정액제'],NaN,"['대여', '구매']",['구매'],['정액제']
22414,아수라,NaN,영화,[],"['공포(호러)', '']",['사토 케이이치'],"['노자와 마사코', '하야시바라 메구미']",2013.0,0.0,“태어나지 않는 편이 좋았을 텐데...”\r\n15세기 중기(무로마치 시대)의 교토...,9.0,NaN,NaN,NaN,['구매'],NaN

# 중복 데이터 제거 2

In [1021]:
from collections import defaultdict
title_category = defaultdict(list)
for i in total_data[total_data.duplicated(['title', 'category'], keep=False)].index:
    cur = total_data.loc[i]
    title_category[(cur['title'], cur['category'])].append(i)

In [1022]:
title_category

defaultdict(list,
            {('고스트 버스터즈', '영화'): [73, 8645],
             ('좋은 친구들', '영화'): [75, 6929],
             ('비트', '영화'): [88, 14146],
             ('미이라', '영화'): [101, 10033],
             ('토탈 리콜', '영화'): [125, 5199],
             ('사탄의 인형', '영화'): [142, 13631],
             ('용서받지 못한 자', '영화'): [144, 2671],
             ('로미오와 줄리엣', '영화'): [163, 581, 6999],
             ('베스트 키드', '영화'): [173, 4270],
             ('나쁜 녀석들', '영화'): [174, 6722],
             ('아웃사이더', '영화'): [182, 11951],
             ('도망자', '영화'): [183, 1442],
             ('이블 데드', '영화'): [212, 5772],
             ('로보캅', '영화'): [213, 6661],
             ('졸업', '영화'): [219, 14747],
             ('작은 아씨들', '영화'): [235, 13530],
             ('아나스타샤', '영화'): [254, 1251],
             ('차이나타운', '영화'): [258, 7484],
             ('공포의 묘지', '영화'): [261, 13601],
             ('보디가드', '영화'): [279, 4857],
             ('로마의 휴일', '영화'): [305, 10679],
             ('인랑', '영화'): [312, 11732],
             ('인페르노', '영화'): [320, 8638],
             ('솔라리스', '영화'): [339, 2142],
             ('레전드', '영화'): [348, 7488],
             ('표적', '영화'): [350, 7147],
             ('홀로코스트', '영화'): [358, 6107],
             ('옥수수 밭의 아이들', '영화'): [359, 4837],
             ('대역전', '영화'): [361, 9156],
             ('벤허', '영화'): [370, 854, 8799],
             ('뮬란', '영화'): [377, 15406],
             ('엠마', '영화'): [406, 15413],
             ('닥터 두리틀', '영화'): [420, 15410],
             ('순수의 시대', '영화'): [422, 7820],
             ('모탈 컴뱃', '영화'): [437, 16991],
             ('애니', '영화'): [443, 6636],
             ('캐논볼', '영화'): [452, 17253],
             ('게임의 규칙', '영화'): [453, 10881],
             ('링', '영화'): [460, 6333],
             ('하울링', '영화'): [468, 5219],
             ('위대한 유산', '영화'): [484, 582, 2375, 5857],
             ('리포 맨', '영화'): [514, 4301],
             ('고질라', '영화'): [523, 6562],
             ('헛소동', '영화'): [527, 5290],
             ('데스 위시', '영화'): [531, 11693],
             ('적과의 동침', '영화'): [571, 4982, 17045],
             ('은밀한 유혹', '영화'): [583, 8071],
             ('자칼', '영화'): [610, 10444],
             ('천녀유혼', '영화'): [619, 4909],
             ('분홍신', '영화'): [631, 2801],
             ('히든', '영화'): [683, 2733],
             ('스트리트 파이터', '영화'): [688, 1515],
             ('헨리 5세', '영화'): [702, 1135],
             ('젊은이의 양지', '영화'): [714, 15438],
             ('택시', '영화'): [717, 7756],
             ('온리 유', '영화'): [723, 8228],
             ('연인', '영화'): [737, 2521],
             ('안나 카레니나', '영화'): [749, 1414, 5171],
             ('최후의 카운트다운', '영화'): [750, 786],
             ('공공의 적', '영화'): [778, 2199],
             ('디바', '영화'): [812, 15407],
             ('흑사회', '영화'): [825, 2675],
             ('그날이 오면', '영화'): [840, 12248],
             ('길', '영화'): [851, 10402],
             ('열혈남아', '영화'): [855, 3014],
             ('리벤지', '영화'): [893, 11701, 20739],
             ('피터 팬', '영화'): [900, 2321],
             ('소나기', '영화'): [918, 10379],
             ('영원한 사랑', '영화'): [919, 1568],
             ('로망스', '영화'): [923, 3147],
             ('레 미제라블', '영화'): [933, 13649, 20497],
             ('언더그라운드', '영화'): [950, 4932],
             ('백야', '영화'): [951, 5430],
             ('제인 에어', '영화'): [962, 4687],
             ('헤드헌터', '영화'): [1065, 13898],
             ('트롤', '영화'): [1069, 8655],
             ('겟어웨이', '영화'): [1076, 5966],
             ('피크닉', '영화'): [1163, 1584],
             ('러브', '영화'): [1169, 7530],
             ('쉘 위 댄스', '영화'): [1200, 2551],
             ('집으로 가는 길', '영화'): [1229, 5843],
             ('소공녀', '영화'): [1257, 11671, 24386],
             ('모모', '영화'): [1290, 4124, 9210],
             ('빈센트', '영화'): [1314, 7070, 10673],
             ('어느 하녀의 일기', '영화'): [1339, 8019],
             ('비밀', '영화'): [1379, 7950],
             ('소림오조', '영화'): [1392, 1599],
             ('흑권', '영화'): [1405, 3144],
             ('백발마녀전', '영화'): [1440, 15840],
             ('쏘아올린 불꽃, 밑에서 볼까? 옆에서 볼까?', '영화'): [1577, 10381],
             ('기문둔갑', '영화'): [1667, 10583, 15851],
             ('암전', '영화'): [1702, 14285],
             ('장마', '영화'): [1725, 16035],
             ('황진이', '영화'): [1791, 3322],
             ('배니싱 트윈', '영화'): [1826, 9108],
             ('오만과 편견', 'TV 프로그램'): [1852, 7395],
             ('신조협려', 'TV 프로그램'): [1868, 3025],
             ('스타트업', 'TV 프로그램'): [1991, 16350],
             ('소름', '영화'): [1998, 6608],
             ('루시아', '영화'): [2007, 11014],
             ('선물', '영화'): [2046, 14170],
             ('하루', '영화'): [2064, 7239, 10500],
             ('아들', '영화'): [2150, 3435],
             ('챔피언', '영화'): [2206, 12007, 20050, 21324],
             ('예스터데이', '영화'): [2238, 13559],
             ('빅 피쉬', '영화'): [2287, 10465],
             ('몬스터', '영화'): [2300, 6302, 11879, 22172],
             ('엘프', '영화'): [2332, 14229],
             ('허니', '영화'): [2357, 12768],
             ('더 로드', '영화'): [2362, 3882],
             ('보디가드', 'TV 프로그램'): [2450, 13024],
             ('터미널', '영화'): [2459, 7923],
             ('헬보이', '영화'): [2501, 13638],
             ('그루지', '영화'): [2513, 15542],
             ('피닉스', '영화'): [2545, 6556],
             ('세레니티', '영화'): [2703, 13709],
             ('저스트 프렌드', '영화'): [2728, 12137],
             ('케이브', '영화'): [2741, 9014],
             ('숨바꼭질', '영화'): [2751, 5961, 12182],
             ('두 여자', '영화'): [2868, 4521, 13789],
             ('꽃보다 남자', 'TV 프로그램'): [2900, 4161],
             ('데자뷰', '영화'): [2959, 12790],
             ('데스노트', '영화'): [2960, 10191],
             ('일루셔니스트', '영화'): [2972, 16171],
             ('몬스터 하우스', '영화'): [2974, 10484],
             ('싸움의 기술', '영화'): [2979, 14669],
             ('포세이돈', '영화'): [2995, 7052],
             ('귀향', '영화'): [2999, 9317],
             ('심야식당', 'TV 프로그램'): [3135, 4173],
             ('내일의 기억', '영화'): [3154, 16949],
             ('슈퍼배드', '영화'): [3241, 4230],
             ('히트맨', '영화'): [3277, 15691],
             ('킹덤', '영화'): [3308, 14098],
             ('퍼펙트 스트레인저', '영화'): [3355, 8780],
             ('더 시크릿', '영화'): [3384, 15598],
             ('리턴', '영화'): [3391, 11163],
             ('학교 가는 길', '영화'): [3403, 6740],
             ('상어', '영화'): [3474, 14577],
             ('아름다운 그대에게', 'TV 프로그램'): [3510, 5714],
             ('잃어버린 세계를 찾아서', '영화'): [3582, 13669],
             ('커넥트', '영화'): [3721, 15473],
             ('플라이 미 투 더 문', '영화'): [3734, 5350],
             ('연인들', '영화'): [3759, 10417],
             ('분노의 질주: 언리미티드', '영화'): [3768, 4641],
             ('아기와 나', '영화'): [3792, 11098],
             ('절대 그이', 'TV 프로그램'): [3851, 14892],
             ('마더', '영화'): [3870, 15437],
             ('트라이앵글', '영화'): [3886, 4100],
             ('시리어스 맨', '영화'): [3898, 15959],
             ('시크릿', '영화'): [4071, 6137, 22162],
             ('오디션', '영화'): [4096, 6677],
             ('만추', '영화'): [4215, 21581],
             ('더 브레이브', '영화'): [4224, 14323],
             ('파이터', '영화'): [4250, 17332],
             ('몬스터즈', '영화'): [4282, 7156],
             ('대지진', '영화'): [4403, 9154],
             ('무법자', '영화'): [4470, 8225],
             ('용의자', '영화'): [4480, 6066],
             ('저스티스', '영화'): [4624, 10830],
             ('한나', '영화'): [4672, 10048],
             ('이민자', '영화'): [4677, 5928],
             ('더 콜러', '영화'): [4825, 23220, 23221],
             ('크롤', '영화'): [4872, 13644],
             ('손님', '영화'): [4875, 8041],
             ('블라인드', '영화'): [4880, 14155, 22008],
             ('럭키', '영화'): [4991, 8946],
             ('마마', '영화'): [5003, 5833],
             ('슈츠', 'TV 프로그램'): [5047, 12991],
             ('비스트', '영화'): [5218, 13845, 23113],
             ('브레이크', '영화'): [5385, 12324, 13998],
             ('아수라', '영화'): [5472, 8590],
             ('핑크', '영화'): [5580, 8942],
             ('옆자리 괴물군', 'TV 프로그램'): [5681, 5690],
             ('스토커', '영화'): [5753, 15689],
             ('사이코메트리', '영화'): [6022, 9389],
             ('헌트', '영화'): [6053, 15424],
             ('기적의 피아노', '영화'): [6127, 8276],
             ('언노운 어택', '영화'): [6153, 12724],
             ('스파이', '영화'): [6250, 7529],
             ('드래곤 기사단', '영화'): [6287, 10831],
             ('룸메이트', '영화'): [6362, 7646],
             ('최고의 이혼', 'TV 프로그램'): [6379, 13104],
             ('나를 찾아줘', '영화'): [6522, 13822],
             ('더 게스트', '영화'): [6599, 10270],
             ('미녀와 야수', '영화'): [6611, 21386, 22959],
             ('엘로이즈', '영화'): [6762, 10563],
             ('마녀', '영화'): [6908, 11628],
             ('나이팅게일', '영화'): [6911, 11781],
             ('추적자', '영화'): [7196, 14802],
             ('퍼즐', '영화'): [7274, 12038],
             ('룸', '영화'): [7537, 12764],
             ('조이', '영화'): [7546, 12277],
             ('라이프', '영화'): [7581, 9943],
             ('더 웨이브', '영화'): [7584, 14012],
             ('홈', '영화'): [7610, 12102],
             ('행맨', '영화'): [7816, 10324],
             ('고백', '영화'): [8159, 17347],
             ('사라진 시간', '영화'): [8187, 15418],
             ('트릭', '영화'): [8245, 9513],
             ('애프터매스', '영화'): [8282, 10174, 17085],
             ('폴라로이드', '영화'): [8359, 13884],
             ('사일런스', '영화'): [8633, 13667],
             ('걸 온 더 트레인', '영화'): [8636, 17162],
             ('더 보이', '영화'): [8737, 13588],
             ('분노', '영화'): [8805, 14059],
             ('테이크 다운', '영화'): [8977, 14592],
             ('돌로레스', '영화'): [9330, 10751],
             ('컨저링 하우스', '영화'): [9527, 12888],
             ('나만이 없는 거리', 'TV 프로그램'): [9625, 11317],
             ('고스트 스토리', '영화'): [10017, 15963],
             ('어트랙션', '영화'): [10050, 14644],
             ('비스티걸스', '영화'): [10223, 10391],
             ('너의 췌장을 먹고 싶어', '영화'): [10435, 11655],
             ('루시드 드림', '영화'): [10534, 12158],
             ('딥', '영화'): [10692, 11920],
             ('아빠는 딸', '영화'): [11008, 21652],
             ('굿 닥터', 'TV 프로그램'): [11217, 13463],
             ('세이렌', 'TV 프로그램'): [11243, 13016],
             ('블랙', 'TV 프로그램'): [11313, 11414],
             ('버닝', '영화'): [11644, 13878],
             ('갈매기', '영화'): [11849, 17277],
             ('아직 끝나지 않았다', '영화'): [12010, 21922],
             ('뮤턴트 워', '영화'): [12288, 13943],
             ('로지', '영화'): [12490, 14152],
             ('라스트 레터', '영화'): [12551, 15561],
             ('마리아', '영화'): [12639, 14173],
             ('침입자', '영화'): [12704, 16126],
             ('빌런', '영화'): [13534, 15863],
             ('블랙머니', '영화'): [13773, 15766],
             ('파라다이스 좀비', '영화'): [15909, 16101],
             ('스트레인저', 'TV 프로그램'): [16359, 16499],
             ('핑크퐁 동물동요', 'TV 프로그램'): [17842, 23599],
             ('콩순이의 율동교실', 'TV 프로그램'): [17884, 23563],
             ('플레이어', 'TV 프로그램'): [17998, 18861],
             ('핑크퐁 수동요', 'TV 프로그램'): [18190, 23750],
             ('이누야샤 완결편', 'TV 프로그램'): [18270, 23857],
             ('핑크퐁 마더구스', 'TV 프로그램'): [18444, 23689],
             ('포켓몬스터 썬&문', 'TV 프로그램'): [18482, 23813],
             ('미니특공대 슈퍼공룡파워', 'TV 프로그램'): [18773, 23578],
             ('체인지 디바', 'TV 프로그램'): [18979, 23830],
             ('푸른거탑 제로', 'TV 프로그램'): [19131, 19439],
             ('클라이언트 리스트', 'TV 프로그램'): [19246, 24101],
             ('터닝메카드W', 'TV 프로그램'): [19469, 23659],
             ('tvN Shift', 'TV 프로그램'): [19569, 19816],
             ('요괴메카드 왕마', 'TV 프로그램'): [19708, 23725],
             ('매트릭스', '영화'): [20147, 24242],
             ('쿵푸 팬더', '영화'): [20493, 24290],
             ('쿵푸 팬더 2', '영화'): [20641, 24333],
             ('겨울왕국 2', '영화'): [20897, 21190],
             ('고녀석 맛나겠다2 - 함께라서 행복해', '영화'): [21733, 23166],
             ('적인걸 더 파이널', '영화'): [22101, 24393],
             ('피터팬', '영화'): [23306, 24411]})

In [1075]:
total_data[total_data['title'] == '피터팬']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
23306,피터팬,NaN,영화,[],"['애니메이션', '']","['해밀턴 러스크', '클라이드 제로니미', '윌프레드 잭슨']","['유강진', '유해무', '김선우', '성유진', '강수진', '조동희', '탁원...",1953.0,0.0,"행복하고 아름다운 웬디의 집. 그곳엔 상냥한 어머니와 듬직한 아버지, 귀여운 동생 ...",9.0,NaN,NaN,NaN,['구매'],NaN
24411,피터팬,NaN,영화,[],"['어드벤처', '판타지', '키즈', '패밀리']",['PJ 호건'],"['제이슨 이삭스', '제러미 섬프터', '레이첼 허드우드', '린 레드그레이브',...",NaN,113.0,키스와 눈물의 비밀이 사랑에 빠진 연인을 구한다!사랑과 모험을 동경하는 웬디. 어느...,0.0,NaN,NaN,NaN,NaN,['정액제']

In [1074]:
total_data = tmp_func(22101, 24393, total_data)

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [945]:
def tmp_func(cur_idx, other_idx, total_data):
    cur, other = total_data.loc[cur_idx], total_data.loc[other_idx]
    for i in ['released_year', 'ott.tving', 'ott.coupang', 'director', 'actors']:
        if i == 'ott.tving' and not pd.isna(cur[i]):
            continue
        cur[i] = other[i]
    total_data.loc[cur_idx] = cur
    total_data = total_data.drop(other_idx)
    return total_data

In [824]:
for key, val in title_category.items():
    val.sort()
    if len(val) == 2 and (val[0] < 17764 and val[1] >= 17764):
        cur = total_data.loc[val[0]]
        other = total_data.loc[val[1]]
        for i in ['ott.tving', 'ott.coupang', 'director', 'actors']:
            cur[i] = other[i]
        total_data.loc[val[0]] = cur
        total_data = total_data.drop(val[1])

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

# Country의 결측치 => 삭제?

In [1078]:
len(total_data[total_data['country'] == '[]'])

4889

# Actor, Director의 결측치와 영어데이터 => 삭제? or검색을 활용한 방법??

In [1088]:
len(total_data[total_data['actors'] == '[]'])

1907

In [1103]:
import string
eng_actor_cnt = 0
for i in total_data['actors']:
    if len(i) > 3 and i[2] in string.ascii_letters:
        eng_actor_cnt += 1
eng_actor_cnt

13604

In [1105]:
eng_dir_cnt = 0
for i in total_data['director']:
    if len(i) > 3 and i[2] in string.ascii_letters:
        eng_dir_cnt += 1
eng_dir_cnt

11667

In [1089]:
len(total_data[total_data['director'] == '[]'])

3860

In [1119]:
mask1 = (total_data['actors'] == '[]') & (total_data['director'] == '[]')

In [1121]:
len(total_data.loc[mask1, :])

1121

# 장르로 거르는건?

In [1110]:
len(total_data[total_data['genre'] == '[]'])

692

In [723]:
tmp = set()
for i in total_data['genre'].unique():
    for j in i[1:-1].split(","):
        tmp.add(j)

In [1079]:
print(len(tmp))

248

# 영어 줄거리는 과감하게 버리는 건?

In [1124]:
import re
reg = re.compile('[ㄱ-힣]')
cnt = 0 
for i in total_data.index:
    cur = total_data.loc[i]
    try:
        if reg.search(cur['summary']):
            pass
        else:
            cnt+=1
            pass
    except:
        cnt+=1
cnt

1842

In [1087]:
total_data[total_data['title']=='아기상어: 올리와 윌리엄']

,title,original_title,category,country,genre,director,actors,released_year,runtime,summary,rating,ott.Netflix,ott.Watcha,ott.wavve,ott.tving,ott.coupang
17753,아기상어: 올리와 윌리엄,아기상어: 올리와 윌리엄,TV 프로그램,['대한민국'],[],[],"['Kimiko Glenn', 'Luke Youngblood', 'Natasha R...",2021.0,11.0,Follow Baby Shark Brooklyn and his best friend...,0.0,NaN,['정액제'],['정액제'],NaN,NaN

In [1076]:
len(total_data)

21771

In [1090]:
total_data.isnull().sum()

title                 0
original_title     4007
category              0
country               0
genre                 0
director              0
actors                0
released_year       938
runtime              24
summary              64
rating                0
ott.Netflix       16747
ott.Watcha        14642
ott.wavve          9047
ott.tving         16111
ott.coupang       19981
dtype: int64

# actor 이름 교체

In [183]:
with open("/Users/jeonggyu/Desktop/수집한 dataset/0_7214.json", "r") as f:
    dict_actor = json.load(f)
    for idx in df.index:
        cur = df.loc[11]
        print(cur['actors'])
        cur_actors = cur['actors'].replace("'", "")[1:-1].split(",")
        
        ch_actors = filter(lambda x: x is not None, map(lambda x: dict_actor.get(x), cur_actors))
        print(cur['title'], cur_actors)
        print(list(ch_actors))
        break

['줄리 앤드류스', '크리스토퍼 플러머']
사운드 오브 뮤직 ['줄리 앤드류스', ' 크리스토퍼 플러머']
['줄리 앤드류스', '크리스토퍼 플러머']

# director 이름 교체

# actor 데이터 합치기

In [228]:
import re
reg = re.compile('[ㄱ-힣]')

with open('/Users/jeonggyu/Desktop/수집한 dataset/actors/google_0_7214.json', "r") as nf,\
open('/Users/jeonggyu/Desktop/수집한 dataset/actors/0_7214.json', "r") as of,\
open('/Users/jeonggyu/Desktop/수집한 dataset/actors/final_0_7214.json', "w") as target:
    nd, od = json.load(nf), json.load(of)
    print(len(list(filter(lambda x: x[1] is None, od.items()))))
    print(len(list(filter(lambda x: x[1] is None, nd.items()))))
    # google검색을 naver와 합친다.
    od.update(nd)
        
    # none 처리
    tmp = dict(filter(lambda x: x[1] is not None, od.items()))
    
    # 한글 key 값들 처리
    tmp = dict(filter(lambda x: not reg.search(x[0]), tmp.items()))
    
    # 영어 value 값 처리
    tmp = dict(filter(lambda x: reg.search(str(x[1])), tmp.items()))
    
    print(len(tmp))

4065
1269
5550